<h3>Get Involved!</h3>
<p><em>(This form is not done, but it is live.)</em></p>

<p>Items with an asterisk * are required.</p>

<form action="https://docs.google.com/forms/d/1sP40osNQOEB8W6AzsmobrhDyv_39VR4sgJPMTX8AYac/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">

<div class="errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-text">
    <div class="ss-form-entry">
      <label for="entry_1947113433">
        <div class="ss-q-title">Name *
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
        </div>
      </label>
      <input type="text" name="entry.1947113433" value="" class="ss-q-short" id="entry_1947113433" dir="auto" aria-required="true">
    </div>
  </div>
</div> 

<div class="errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-text">
    <div class="ss-form-entry">
      <label for="entry_1684448170">
        <div class="ss-q-title">Email Address *
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
        </div>
      </label>
      <input type="text" name="entry.1684448170" value="" class="ss-q-short" id="entry_1684448170" dir="auto" aria-required="true">
    </div>
  </div>
</div> 

<div class="errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-text">
    <div class="ss-form-entry">
      <label for="entry_1839455743">
        <div class="ss-q-title">Location *
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
        </div>
      </label>
      <input type="text" name="entry.1839455743" value="" class="ss-q-short" id="entry_1839455743" dir="auto" aria-required="true">
    </div>
  </div>
</div> 

<div class="errorbox-good">
  <div dir="ltr" class="ss-item ss-item-required ss-checkbox">
    <div class="ss-form-entry">
      <label for="entry_1503874487">
        <div class="ss-q-title">How do you want to help? *
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
        </div>
        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
      </label>
      
          <label>
              <input type="checkbox" name="entry.920161679" value="Teaching or TAing at a workshop" id="group_920161679_1" class="ss-q-checkbox">
              <span class="ss-choice-label">Teaching or TAing at a workshop</span>
          </label>
          
          <label>
            <input type="checkbox" name="entry.920161679" value="Organizing a workshop" id="group_920161679_2" class="ss-q-checkbox">
            <span class="ss-choice-label">Organizing a workshop</span>
          </label>
                
          <label>
            <input type="checkbox" name="entry.920161679" value="Sponsoring or hosting a workshop" id="group_920161679_3" class="ss-q-checkbox">
            <span class="ss-choice-label">Sponsoring or hosting a workshop</span>
          </label>

          <label>
            <input type="checkbox" name="entry.920161679" value="Helping with the curriculum" id="group_920161679_4" class="ss-q-checkbox">
            <span class="ss-choice-label">Helping with the curriculum</span>
          </label>

          <label>
            <input type="checkbox" name="entry.920161679" value="Fundraising" id="group_920161679_5" class="ss-q-checkbox">
            <span class="ss-choice-label">Fundraising</span>
          </label>

          <label>
            <input type="checkbox" name="entry.920161679" value="Strategizing / Big Picture thinking" id="group_920161679_6" class="ss-q-checkbox">
            <span class="ss-choice-label">Strategizing / Big Picture thinking</span>
          </label>

          <label>
            <input type="checkbox" name="entry.920161679" value="Supporting RailsBridge financially" id="group_920161679_7" class="ss-q-checkbox">
            <span class="ss-choice-label">Supporting RailsBridge financially</span>
          </label>

          <label>
            <input type="checkbox" name="entry.920161679" value="__other_option__" id="group_920161679_8" class="ss-q-checkbox ss-q-other-toggle">
            Other:
          </label>
          <input type="text" name="entry.920161679.other_option_response" value="" id="entry_920161679_other_option_response" dir="auto" aria-label="Other">
    </div>
  </div>
</div> 

<div class="errorbox-good">
  <div dir="ltr" class="ss-item  ss-checkbox">
    <div class="ss-form-entry">
      <label for="entry_1698722839">
        <div class="ss-q-title">If you&#39;re interested in organizing, what do you need help with?
        </div>
        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
      </label>
        <label>
          <input type="checkbox" name="entry.1608933211" value="Finding students" id="group_1608933211_1" class="ss-q-checkbox">
          <span class="ss-choice-label">Finding students</span>
        </label>

        <label>
          <input type="checkbox" name="entry.1608933211" value="Finding teachers" id="group_1608933211_2" class="ss-q-checkbox">
          <span class="ss-choice-label">Finding teachers</span>
        </label>

        <label>
          <input type="checkbox" name="entry.1608933211" value="Finding a space" id="group_1608933211_3" class="ss-q-checkbox">
          <span class="ss-choice-label">Finding a space</span>
        </label>

        <label>
          <input type="checkbox" name="entry.1608933211" value="Finding sponsors" id="group_1608933211_4" class="ss-q-checkbox">
          <span class="ss-choice-label">Finding sponsors</span>
        </label>

        <label>
          <input type="checkbox" name="entry.1608933211" value="__other_option__" id="group_1608933211_5" class="ss-q-checkbox ss-q-other-toggle">
          Other:
        </label>
        <input type="text" name="entry.1608933211.other_option_response" value="" class="ss-q-other" id="entry_1608933211_other_option_response" dir="auto" aria-label="Other">
  </div>
</div>

<input type="hidden" name="draftResponse" value="[]">
<input type="hidden" name="pageHistory" value="0">
<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" name="submit" value="Submit" id="ss-submit">