.feature.js-match-height-item
  .feature-icon.fa.fa-envelope-o
  %h4 Join the mailing list
  %p
    If you’d like to help maintain the curriculum or installfest, do meta-organizational things,
    or just have a great time with people who love teaching programming, join the
    #{link_to "workshop mailing list/Google group", "https://groups.google.com/forum/#!forum/railsbridge-workshops", class: 'inline-link'}.
