<h2>Join the RailsBridge mailing list!</h2>
<p>If you’d like to help maintain the curriculum or installfest, do meta-organizational things, or just have a great time with people who love teaching programming, join the workshop mailing list/Google group here:</p>
<p><a href="https://groups.google.com/forum/#!forum/railsbridge-workshops">https://groups.google.com/forum/#!forum/railsbridge-workshops</a>.</p>