<p>These are tweets</p>

<div id="tweets">
</div>

<script type="text/javascript">
  $(function(){
    $('#tweets').tweetable({
      username: 'railsbridge', time: true, limit: 10, replies: true, position: 'append'
    });
  });
</script>