- provide(:title, page_title(['About']))

%h1 About RailsBridge
%h2
  RailsBridge is an organization that works to increase diversity in tech by putting on a variety of awesome free events.
%p Our most well-known efforts are free weekend workshops where women learn Ruby on Rails from volunteers. The students at our workshops range from folks who are completely new to programming to QA engineers and professional developers who want to learn Rails. RailsBridge has also put on Spanish-language workshops, Rails Bug Mashes (or bug smashes, depending on who you ask), taught Ruby to kids, set up online mentoring, and sponsored many more projects.
%h3 How did it start?
%p Tell the story here
%h3 A few writeups:
%ul
  %li
    %a{:href => "http://www.slideshare.net/sarah.allen/once-upon-a-time-1609821"} Story about how this started
  %li
    %a{:href => "http://www.sarahmei.com/blog/2010/02/20/scale-8x-slides-posted/"} Moving the Needle: How SF Ruby Got to 18%
  %li
    %a{:href => "http://twobanjos.com/blog/2010/03/ada-lovelace-day-the-sarahs/"} the Sarahs: be the change you want to see