<% provide(:title, page_title(['About','Sponsors'])) %>

<h1>We are so grateful!</h1>
<p>RailsBridge has thrived because of its volunteers and its sponsors. These companies have provided us with space, wifi, projectors, and bought us so many Friday pizzas and Saturday lunches. We are so thankful that they are committed to helping tech become more equitable, welcoming, and diverse.</p>

<h2>Program Sponsor</h2>
<a href="https://www.heroku.com/"><img src="assets/sponsor-logos/heroku.png"></a>
<p>Heroku has encouraged RailsBridge to expand geographically, and with their encouragement and support, there have been workshops in 30 different cities around the world.</p>

<div class="logos big-logos">
	<h2>Ongoing Workshop Sponsors</h2>
	<p>These companies provide ongoing support by sponsoring workshops on a regular basis.</p>
	<a href="http://pivotallabs.com/"><img src="assets/sponsor-logos/pivotal.jpg"></a>
	<a href="http://carbonfive.com/"><img src="assets/sponsor-logos/carbonfive.png"></a>
	<a href="https://www.engineyard.com/"><img src="assets/sponsor-logos/engineyard.png"></a>
</div>

<div class="logos medium-logos">
	<h2>Partner Organizations</h2>
	<a href="http://www.devchix.com/"><img src="assets/partner-org-logos/devchix.jpeg"></a>
	<a href="http://www.women2.com/"><img src="assets/partner-org-logos/women2.jpeg"></a>
	<a href="http://latinostartupalliance.org/"><img src="assets/partner-org-logos/latino-startup-alliance.png"></a>
	<a href="http://www.blackfounders.com/"><img src="assets/partner-org-logos/blackfounders.png"></a>
	<a href="http://www.sfruby.info/">SF Ruby Meetup</a>
</div>

<div class="logos medium-logos">
	<h2>Supporting Conferences</h2>
	<a href="http://onales.com"><img src="assets/conference-logos/ruby-on-ales.jpg"></a>
	<a href="http://rubyfuza.org"><img src="assets/conference-logos/rubyfuza.png"></a>
	<a href="http://madisonruby.org"><img src="assets/conference-logos/madison-ruby.jpg"></a>
	<a href="http://rockymtnruby.com"><img src="assets/conference-logos/rocky-mountain-ruby.png"></a>
	<a href="http://www.larubyconf.com"><img src="assets/conference-logos/la-ruby.jpg"></a>
	<a href="http://code4lib.org/conference"><img src="assets/conference-logos/code4lib.png"></a>
	<a href="http://www.alohaonrails.com"><img src="assets/conference-logos/aloha.jpg"></a>
</div>



<div class="logos smaller-logos">
	<h2>Workshop Sponsors</h2>
	<a href="https://github.com/"><img src="assets/workshop-sponsor-logos/github.png"></a>
	<a href="http://envylabs.com/"><img src="assets/workshop-sponsor-logos/envylabs.jpeg"></a>
	<a href="http://www.modcloth.com/"><img src="assets/workshop-sponsor-logos/modcloth.jpeg"></a>
	<a href="https://www.tapjoy.com/"><img src="assets/workshop-sponsor-logos/tapjoy.jpeg"></a>
	<a href="http://www.verticalresponse.com/"><img src="assets/workshop-sponsor-logos/verticalresponse.jpeg"></a>
	<a href="https://www.airbnb.com/"><img src="assets/workshop-sponsor-logos/airbnb.jpeg"></a>
	<a href="http://www.bing.com/"><img src="assets/workshop-sponsor-logos/bing.jpg"></a>
	<a href="http://www.nextag.com/"><img src="assets/workshop-sponsor-logos/nexTag.jpg"></a>
	<a href="http://www.primezone.orange-labs.com/information.html?hl=en&info=orangelabs"><img src="assets/workshop-sponsor-logos/orange-labs.jpg"></a>
	<a href="http://outright.com/"><img src="assets/workshop-sponsor-logos/outright.jpeg"></a>
	<a href="http://quickleft.com/"><img src="assets/workshop-sponsor-logos/quickleft.jpg"></a>
	<a href="http://www.rackspace.com/"><img src="assets/workshop-sponsor-logos/rackspace.jpeg"></a>
	<a href="http://www.scribd.com/"><img src="assets/workshop-sponsor-logos/scribd.jpeg"></a>
	<a href="http://codeforamerica.org/"><img src="assets/workshop-sponsor-logos/CfA.png"></a>
	<a href="http://www.coderow.com/"><img src="assets/workshop-sponsor-logos/coderow.jpg"></a>
	<a href="http://galvanize.it/"><img src="assets/workshop-sponsor-logos/galvanize.jpg"></a>
	<a href="http://gnip.com/"><img src="assets/workshop-sponsor-logos/gnip.jpeg"></a>
	<a href="http://www.googleventures.com/"><img src="assets/workshop-sponsor-logos/google-ventures.jpg"></a>
	<a href="http://www.groupon.com/"><img src="assets/workshop-sponsor-logos/groupon.jpeg"></a>
	<a href="http://www.getharvest.com/"><img src="assets/workshop-sponsor-logos/harvest.png"></a>
	<a href="http://corp.ign.com/"><img src="assets/workshop-sponsor-logos/ign-entertainment.png"></a>
	<a href="http://hashrocket.com/"><img src="assets/workshop-sponsor-logos/hashrocket.jpg"></a>
	<a href="http://mkf.org/"><img src="assets/workshop-sponsor-logos/kaporfoundation.jpg"></a>
	<a href="http://mediacore.com/"><img src="assets/workshop-sponsor-logos/mediacore.jpg"></a>
	<a href="http://www.microsoft.com/"><img src="assets/workshop-sponsor-logos/microsoft.jpg"></a>
	<a href="http://www.neo.com/"><img src="assets/workshop-sponsor-logos/neo.png"></a>
	<a href="https://squareup.com/"><img src="assets/workshop-sponsor-logos/square.jpg"></a>
	<a href="http://www.thoughtworks.com/"><img src="assets/workshop-sponsor-logos/thoughtworks.jpg"></a>
	<a href="http://www.twilio.com/"><img src="assets/workshop-sponsor-logos/twilio.png"></a>
	<a href="https://twitter.com/"><img src="assets/workshop-sponsor-logos/twitter.png"></a>
	<a href="http://www.wested.org/"><img src="assets/workshop-sponsor-logos/wested.jpg"></a>
	<a href="http://weworkhappy.com/"><img src="assets/workshop-sponsor-logos/workhappy.png"></a>
	<a href="http://awesomeinc.org/"><img src="assets/workshop-sponsor-logos/awesomeinc.jpeg"></a>

</div>

