- provide(:title, page_title(['Chapters']))

%h1 RailsBridge Chapters.

%p Some chapters have workshops yearly, some quarterly, and some monthly. Check 'em out!
%p
  %em
    If you organize workshops and your chapter isn't listed here, let us know!
  %em=render 'shared/github_links', cautious: true

.row
  .col-md-4
    .feature.js-match-height-item
      .feature-icon.fa.fa-rocket
      %h4 RailsBridge {Mothership}
      %ul
        %li= link_to '@RailsBridge', 'https://twitter.com/railsbridge', class: 'twitter inline-link', target: '_blank'
        %li= link_to 'Facebook.com/railsbridge', 'https://www.facebook.com/railsbridge', class: 'facebook inline-link', target: '_blank'
        %li= link_to 'LinkedIn Alumni Network', 'http://www.linkedin.com/groups/RailsBridge-Alumni-Network-2123131?gid=2123131&trk=group-name', class: 'linkedin inline-link', target: '_blank'
  / .col-md-4
  /   .feature.js-match-height-item
  /     .feature-icon.fa.fa-globe
  /     %h4 Random Events
  /     %ul
  /       %li Events also happen in places where RailsBridge volunteers go, especially in conjunction with conferences!

%h2.gray-underline West Coast

.row.js-match-height
  .col-md-4
    .feature.js-match-height-item
      %h4 Los Angeles, California
      %ul
        %li
          Sign up at
          %a.inline-link{href: "http://www.meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group/", target: "_blank" } meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group
  .col-md-4
    .feature.js-match-height-item
      %h4 San Diego, California
      %ul
        %li
          Sign up at
          %a.inline-link{ href: "http://www.meetup.com/San-Diego-RailsBridge/", target: "_blank" } meetup.com/San-Diego-RailsBridge
        %li
          Follow
          %a.inline-link{ href: "http://www.twitter.com/railsbridgesd", target: "_blank" } @RailsBridgeSD
          for updates!
  .col-md-4
    .feature.js-match-height-item
      %h4 San Francisco, California
      %ul
        %li
          Sign up at
          %a.inline-link{ href: "http://bridgetroll.org/", target: "_blank" } bridgetroll.org
        %li
          Follow
          %a.inline-link{ href: "http://www.twitter.com/railsbridge", target: "_blank" } @RailsBridge
          for updates!

.row.js-match-height
  .col-md-4
    .feature.js-match-height-item
      %h4 Silicon Valley, California
      %ul
        %li
          Sign up at
          %a.inline-link{ href: "http://www.meetup.com/silicon-valley-ruby/", target: "_blank" } meetup.com/silicon-valley-ruby
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/railsbridgeSV", target: "_blank" } @RailsBridgeSV
          for updates!
  .col-md-4
    .feature.js-match-height-item
      %h4 Seattle, Washington
      %ul
        %li
          Sign up at
          %a.inline-link{ href: "http://www.meetup.com/SeattleRailsBridge/", target: "_blank" } meetup.com/SeattleRailsBridge
  .col-md-4
    .feature.js-match-height-item
      %h4 Portland, Oregon
      %ul
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/RailsBridgePDX", target: "_blank" } @RailsBridgePDX
          for updates!

%h2.gray-underline Central

.row.js-match-height
  .col-md-4
    .feature.js-match-height-item
      %h4 Denver/Boulder/Fort Collins, Colorado
      %ul
        %li
          Sign up at
          %a.inline-link{ href: "http://www.meetup.com/Boulder-Denver-Railsbridge/", target: "_blank" } meetup.com/Boulder-Denver-Railsbridge
  .col-md-4
    .feature.js-match-height-item
      %h4 Chicago, Illinois
      %ul
        %li
          Online at
          %a.inline-link{ href: "http://www.railsbridgechi.com/", target: "_blank" } railsbridgechi.com
        %li
          Sign up at
          %a.inline-link{ href: "http://www.meetup.com/RailsBridgeChicago/", target: "_blank" } meetup.com/RailsBridgeChicago
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/RailsBridgeChi", target: "_blank" } @RailsBridgeChi
          for updates!
  .col-md-4
    .feature.js-match-height-item
      %h4 Cleveland, OH
      %ul
        %li
          Online at
          %a.inline-link{ href: "http://clevelandrailsbridge.org/", target: "_blank" } clevelandrailsbridge.org
.row.js-match-height
  .col-md-4
    .feature.js-match-height-item
      %h4 Indianapolis, Indiana
      %ul
        %li
          Sign up at
          %a.inline-link{ href: "http://bridgetroll.org/", target: "_blank" } bridgetroll.org

  .col-md-4
    .feature.js-match-height-item
      %h4 Minnesota
      %ul
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/railsbridgeMN", target: "_blank" } @railsbridgeMN
          for updates!
  .col-md-4
    .feature.js-match-height-item
      %h4 Madison, Wisconsin
      %ul
        %li
          Check out the
          %a.inline-link{ href: "https://www.meetup.com/Mad-Railers/", target: "_blank" } Mad-Railers Meetup
          for upcoming events!
.row.js-match-height
  .col-md-4
    .feature.js-match-height-item
      %h4 Saint Louis, Missouri
      %ul
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/RailsBridgeSTL", target: "_blank" } @railsbridgeSTL
          for updates!

%h2.gray-underline East Coast

.row.js-match-height
  .col-md-4
    .feature.js-match-height-item
      %h4 Panama City, Florida
      %ul
        %li
          Online at
          %a.inline-link{ href: "http://www.railsbridgepc.com", target: "_blank" } railsbridgepc.com
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/RailsBridgePC", target: "_blank" } @RailsBridgePC
          for updates!
        %li
          %a.inline-link{ href: "https://groups.google.com/forum/#!forum/railsbridgepc-alumni", target: "_blank" } Panama City alumni mailing list
  .col-md-4
    .feature.js-match-height-item
      %h4 Savannah, Georgia
      %ul
        %li
          Sign up at
          %a.inline-link{ href: "http://rubysavannah.com/", target: "_blank" } rubysavannah.com
  .col-md-4
    .feature.js-match-height-item
      %h4 Kentucky
      %ul
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/railsbridgeky", target: "_blank" } @RailsBridgeKY
          for updates!

.row.js-match-height
  .col-md-4
    .feature.js-match-height-item
      %h4 Boston, Massachusetts
      %ul
        %li
          Sign up at
          %a.inline-link{ href: "http://www.railsbridgeboston.org", target: "_blank" } railsbridgeboston.org
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/RailsBridgeBos", target: "_blank" } @RailsBridgeBos
          for updates!
        %li
          %a.inline-link{ href: "https://groups.google.com/forum/#!forum/railsbridge-boston-alumni", target: "_blank" } Boston alumni mailing list
  .col-md-4
    .feature.js-match-height-item
      %h4 New York City, New York
      %ul
        %li
          Online at
          %a.inline-link{ href: "http://railsbridgenyc.org/", target: "_blank" } railsbridgenyc.org
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/RailsBridgeNYC", target: "_blank" } @RailsBridgeNYC
          for updates!
  .col-md-4
    .feature.js-match-height-item
      %h4 Raleigh/Durham/Chapel Hill, North Carolina
      %ul
        %li
          Online at
          %a.inline-link{ href: "http://railsbridgetriangle.com/", target: "_blank" } railsbridgetriangle.com
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/RailsBridgeTri", target: "_blank" } @RailsBridgeTri
          for updates!

  .col-md-4
    .feature.js-match-height-item
      %h4 Washington, DC
      %ul
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/RailsBridgeDC", target: "_blank" } @RailsBridgeDC
          for updates!

%h2.gray-underline Canada & Global

.row.js-match-height
  .col-md-4
    .feature.js-match-height-item
      %h4 Mexico
      %ul
        %li
          Follow
          %a.inline-link{ href: "https://twitter.com/railsbridgeMx", target: "_blank" } @RailsBridgeMx
          for updates!
  .col-md-4
    .feature.js-match-height-item
      %h4 Montr&eacute;al, Quebec
      %ul
        %li
          Sign up at
          %a.inline-link{ href: "http://www.railsbridge-montreal.com/", target: "_blank" } railsbridge-montreal.com
  .col-md-4
    .feature.js-match-height-item
      %h4 Capetown, South Africa
      %ul
        %li
          Sign up at
          %a.inline-link{ href: "http://railsbridgecapetown.org/", target: "_blank" } railsbridgecapetown.org
