<% provide(:title, page_title(['About','Chapters'])) %>

<div class="chapters">
  <div class="row">
    <div class="span7">

      <h1>RailsBridge Chapters</h1>
      <p>Some chapters have workshops yearly, some quarterly, and some monthly.<br /> Check 'em out!</p>

    </div>
    <div class="span4 offset1">

      <div class='feature-list'>
        <div class='feature clearfix feature-1'>
          <div class="feature-icon icon-3x icon-rocket"></div>
          <h4>RailsBridge {Mothership}</h4>
          <ul>
            <li><%= link_to '@RailsBridge', 'https://twitter.com/railsbridge', class: 'twitter', target: '_blank' %></li>
            <li><%= link_to 'Facebook.com/railsbridge', 'https://www.facebook.com/railsbridge', class: 'facebook', target: '_blank' %></li>
            <li><%= link_to 'LinkedIn Alumni Network', 'http://www.linkedin.com/groups/RailsBridge-Alumni-Network-2123131?gid=2123131&trk=group-name', class: 'linkedin', target: '_blank' %></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>West Coast</h2>

      <div class="chapters-list clearfix">
        <div class='list-item'>
          <h4>RailsBridge San Francisco</h4>
          <ul>
            <li>Sign up at <a href="http://www.sfruby.info">sfruby.info</a></li>
            <li>Follow <a href="http://www.twitter.com/railsbridge">@RailsBridge</a> for updates!</li>
          </ul>
        </div>

        <div class='list-item'>
          <h4>RailsBridge Silicon Valley</h4>
          <ul>
            <li>Sign up at <a href="http://www.meetup.com/silicon-valley-ruby/">meetup.com/silicon-valley-ruby</a></li>
            <li>Twitter: <a href="https://twitter.com/railsbridgeSV">@RailsBridgeSV</a></li>
          </ul>
        </div>

        <div class='list-item'>
          <h4>RailsBridge LA</h4>
          <ul>
            <li>Sign up at <a href="http://www.meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group/">meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group</a></li>
          </ul>
        </div>

        <div class='list-item'>
          <h4>RailsBridge San Diego</h4>
          <ul>
            <li>Sign up at <a href="http://www.meetup.com/San-Diego-RailsBridge/">meetup.com/San-Diego-RailsBridge</a></li>
            <li>On Twitter: <a href="http://www.twitter.com/railsbridgesd">@RailsBridgeSD</a></li>
          </ul>
        </div>

        <div class='list-item'>
          <h4>RailsBridge Seattle</h4>
          <ul>
            <li>Sign up at <a href="http://www.meetup.com/SeattleRailsBridge/">meetup.com/SeattleRailsBridge</a></li>
          </ul>
        </div>
      </div>

      <h2>Central</h2>
    
      <div class="chapters-list clearfix">
        <div class='list-item'>
          <h4>RailsBridge Denver/Boulder/Ft Collins</h4>
          <ul>
            <li>Sign up at <a href="http://www.meetup.com/Boulder-Denver-Railsbridge/">meetup.com/Boulder-Denver-Railsbridge</a></li>
          </ul>
        </div>

        <div class='list-item'>
          <h4>RailsBridge Minnesota</h4>
          <ul>
            <li>On Twitter: <a href="https://twitter.com/railsbridgeMN">@railsbridgeMN</a></li>
          </ul>
        </div>

        <div class='list-item'>
          <h4>RailsBridge Chicago</h4>
          <ul>
            <li>Sign up at <a href="http://www.meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women/">meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women</a></li>
          </ul>
        </div>
      </div>

      <h2>East Coast</h2>

      <div class="chapters-list clearfix">
        <div class='list-item'>
          <h4>RailsBridge Boston</h4>
          <ul>
            <li>Sign up at <a href="http://www.railsbridgeboston.org">railsbridgeboston.org</a></li>
            <li>Twitter: <a href="https://twitter.com/RailsBridgeBos">@RailsBridgeBos</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/railsbridge-boston-alumni">Boston alumni mailing list</a></li>
          </ul>
        </div>

        <div class='list-item'>
          <h4>RailsBridge Panama City</h4>
          <ul>
            <li>Sign up at <a href="http://www.meetup.com/pixelworkers/">meetup.com/pixelworkers</a></li>
            <li>Online at: <a href="http://railsbridgepc.github.com/">railsbridgepc.github.com</a></li>
          </ul>
        </div>

        <div class='list-item'>
          <h4>RailsBridge Kentucky</h4>
          <ul>
            <li>On Twitter: <a href="https://twitter.com/railsbridgeky">@RailsBridgeKY</a></li>
          </ul>
        </div>
      </div>

      <h2>Canada &amp; Global</h2>

      <div class="chapters-list clearfix">
        <div class='list-item'>
          <h4>RailsBridge Montreal</h4>
          <ul>
            <li>Sign up at at <a href="http://www.railsbridge-montreal.com/">railsbridge-montreal.com</a></li>
          </ul>
        </div>

        <div class='list-item'>
          <h4>RailsBridge Global</h4>
          <ul>
            <li>Events happen in places where RailsBridge volunteers go, especially in conjunction with conferences!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
