- provide(:title, page_title(['About','Chapters']))

%h1 RailsBridge Chapters
%hr/
%p
  Some chapters have workshops yearly, some quarterly, and some monthly.
  %br/
  Check 'em out!
.feature-list.feature-standalone
  .feature.clearfix
    .feature-icon.icon-3x.icon-rocket
    %h4 RailsBridge {Mothership}
    %ul
      %li= link_to '@RailsBridge', 'https://twitter.com/railsbridge', class: 'twitter', target: '_blank'
      %li= link_to 'Facebook.com/railsbridge', 'https://www.facebook.com/railsbridge', class: 'facebook', target: '_blank'
      %li= link_to 'LinkedIn Alumni Network', 'http://www.linkedin.com/groups/RailsBridge-Alumni-Network-2123131?gid=2123131&trk=group-name', class: 'linkedin', target: '_blank'
.row
  .span12
    %h2 West Coast
    .list-item.clearfix
      %h4 RailsBridge San Francisco
      %ul
        %li
          Sign up at
          %a{:href => "http://www.sfruby.info"} sfruby.info
        %li
          Follow
          %a{:href => "http://www.twitter.com/railsbridge"} @RailsBridge
          for updates!
    .list-item.clearfix
      %h4 RailsBridge Silicon Valley
      %ul
        %li
          Sign up at
          %a{:href => "http://www.meetup.com/silicon-valley-ruby/"} meetup.com/silicon-valley-ruby
        %li
          Twitter:
          %a{:href => "https://twitter.com/railsbridgeSV"} @RailsBridgeSV
    .list-item.clearfix
      %h4 RailsBridge LA
      %ul
        %li
          Sign up at
          %a{:href => "http://www.meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group/"} meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group
    .list-item.clearfix
      %h4 RailsBridge San Diego
      %ul
        %li
          Sign up at
          %a{:href => "http://www.meetup.com/San-Diego-RailsBridge/"} meetup.com/San-Diego-RailsBridge
        %li
          On Twitter:
          %a{:href => "http://www.twitter.com/railsbridgesd"} @RailsBridgeSD
    .list-item.clearfix
      %h4 RailsBridge Seattle
      %ul
        %li
          Sign up at
          %a{:href => "http://www.meetup.com/SeattleRailsBridge/"} meetup.com/SeattleRailsBridge
.row
  .span12
    %h2 Central
    .list-item
      %h4 RailsBridge Denver/Boulder/Ft Collins
      %ul
        %li
          Sign up at
          %a{:href => "http://www.meetup.com/Boulder-Denver-Railsbridge/"} meetup.com/Boulder-Denver-Railsbridge
    .list-item.clearfix
      %h4 RailsBridge Minnesota
      %ul
        %li
          On Twitter:
          %a{:href => "https://twitter.com/railsbridgeMN"} @railsbridgeMN
    .list-item.clearfix
      %h4 RailsBridge Chicago
      %ul
        %li
          Sign up at
          %a{:href => "http://www.meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women/"} meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women
.row
  .span12
    %h2 East Coast
    .list-item.clearfix
      %h4 RailsBridge Boston
      %ul
        %li
          Sign up at
          %a{:href => "http://www.railsbridgeboston.org"} railsbridgeboston.org
        %li
          Twitter:
          %a{:href => "https://twitter.com/RailsBridgeBos"} @RailsBridgeBos
        %li
          %a{:href => "https://groups.google.com/forum/#!forum/railsbridge-boston-alumni"} Boston alumni mailing list
    .list-item.clearfix
      %h4 RailsBridge Panama City
      %ul
        %li
          Sign up at
          %a{:href => "http://www.meetup.com/pixelworkers/"} meetup.com/pixelworkers
        %li
          Online at:
          %a{:href => "http://railsbridgepc.github.com/"} railsbridgepc.github.com
    .list-item.clearfix
      %h4 RailsBridge Kentucky
      %ul
        %li
          On Twitter:
          %a{:href => "https://twitter.com/railsbridgeky"} @RailsBridgeKY
.row
  .span12
    %h2 Canada & Global
    .list-item.clearfix
      %h4 RailsBridge Montreal
      %ul
        %li
          Sign up at at
          %a{:href => "http://www.railsbridge-montreal.com/"} railsbridge-montreal.com
    .list-item.clearfix
      %h4 RailsBridge Global
      %ul
        %li Events happen in places where RailsBridge volunteers go, especially in conjunction with conferences!