- provide(:title, page_title(['Upcoming Workshops']))

.upcoming-events.js-match-heights
  %h1 Upcoming Events
  %p Delivered fresh by #{link_to 'Bridge Troll', "http://www.bridgetroll.org", class: 'inline-link'}, our event management software.
  = render 'shared/events_with_help', events_per_row: 3, events: @railsbridge_events

  - if @other_events.present?
    %h1 Events from our friends
    = render 'shared/events', events_per_row: 3, events: @other_events
