- provide(:title, page_title(['Upcoming Workshops']))

.upcoming-events.js-match-heights
  %h1 Upcoming Events
  %p Delivered fresh by #{link_to 'Bridge Troll', "http://www.bridgetroll.org"}, our event management software.
  = render 'shared/events', events_per_row: 3
