- provide(:title, page_title(['Upcoming Workshops']))

.upcoming-events
  %h1 Upcoming Events
  %p Delivered fresh by #{link_to 'Bridge Troll', "http://www.bridgetroll.com"}, our event management software.
  = render 'layouts/events'
