- provide(:title, page_title(['Events']))

.upcoming-events
  %h1 Upcoming Events
  %p Delivered fresh by #{link_to 'Bridge Troll', "http://www.bridgetroll"}, our event management software.
  = render 'layouts/events'
