<h1>Want to help RailsBridge?</h1>
<h2>There are so many ways you can!</h2>

<h3>Teachers, TAs, and Organizers Needed</h3>
<p>The most visible volunteer positions with RailsBridge are the worshop organizers, teachers, and TAs. They make each workshop happen! If you're interested in doing either, check out the <%= link_to("organizing page", :organizing)%> or <%= link_to("teaching page", :teaching) %> and let us know by filling out the form below!</p>

<h3>So many other ways to help, too!</h3>
<p>There are <em>ton</em> of other things that have to happen to keep RailsBridge thriving, including:
  <h4>Curriculum Stuff</h4>
  <ul>
    <li>Maintaining the various curriucla we offer</li>
    <li>Writing new curricula</li>
    <li>Keeping the constantly-changing Installfest up-to-date</li>
    <li>Help our teachers level up by creating more in-depth teacher training</li>
  </ul>
  <h4>Building Tools</h4>
  <ul> 
    <li>We're trying to make organizing easier with Bridge Troll, an open source app we're buidling</li>
    <li>We want to make tools to help students figure out what to learn next!</li>
  </ul>
  <h4>Communication</h4>
  <ul>
    <li>We need to tell the world what we're doing! PR dabblers welcome!</li>
    <li>Blogging. Writers are the best.</li>
    <li>Tweeting, Facebooking, LinkedIn-ing: social media is fun.</li>
  </ul>
  <h4>Strategy and Fundraising</h4>
  <ul>
    <li>We're building an organization called Bridge Foundry to help us (and other orgs) managae our funds (and people) better!</li>
    <li>RailsBridge is growing a ton, and we can always use strategists and do-ers to help us think big and make those epic plans a reality</li>
  </ul>

<%= render "interest-form" %>