- provide(:title, page_title(['Home']))
.row-fluid
  .big-floaty-box
    %h1 Learn to code with RailsBridge!
    %p RailsBridge workshops are a free and fun way to get started or level up with Rails, Ruby, and other web technologies. Our events focus on increasing diversity in tech, so that people of all backgrounds can feel welcome and comfortable in our industry.
.row-fluid
  .span8
    .home-events
      %h3 Upcoming Events
      = render 'layouts/events', events_per_row: 2
  .span4
    .home-twitter
      %h3 Recent Tweets
      = render 'tweets'
