- provide(:title, page_title(['Home']))
.row-fluid
  .span8
    .home-events
      %h3 Upcoming Events
      = render 'layouts/events', events_per_row: 2
  .span4
    .home-twitter
      %h3 Recent Tweets
      = render 'tweets'
