- provide(:title, page_title(['Home']))
.row
  .col-md-8
    .home-events
      %h3 Upcoming Events
      = render 'shared/events', events_per_row: 2
  .col-md-4
    .home-twitter
      %h3 Recent Tweets
      = render 'tweets'
