<div class='home'>
  <div class='home-header'>
    <h1>First, Learn Ruby</h1>
    <h2>Next, Rule the World</h2>
    <p>Lorem ipsum dolor sit amet pede, tortor Cras eros justo lobortis ligula, 
      nec. Prae Aenean massa consectetuer! Per lorem. Hac, at odio dictumst, 
      tincidunt est dol est viverra commodo cubilia sociosqu ante at, neque,.
    </p>
  </div>
  <h3>Upcoming Events:</h3>
  <%= render 'layouts/events' %>
  <hr>
  <h3>Recent Tweets @railsbridge</h3>
  <h4>Suppressing this temporarily to continue with rest of site work,<br />a horizontal twitter feed will take some research</h4>
</div>


<!-- 
<div class="row">
  <div class="span6">
    <%= render 'tweets' %>
  </div>
  <div class="span6">
    <h3>Upcoming Workshops</h3>
    <%= render 'calendar' %>
  </div>
</div>
-->
