<div class="home">
  <div class='home-header'>
    <h1>First, Learn Ruby</h1>
    <h2>Next, Rule the World</h2>
    <p>Lorem ipsum dolor sit amet pede, tortor Cras eros justo lobortis ligula, 
      nec. Prae Aenean massa consectetuer! Per lorem. Hac, at odio dictumst, 
      tincidunt est dol est viverra commodo cubilia sociosqu ante at, neque,.
    </p>
  </div>
  <div class="row">
    <div class="span8">
      <div class="home_events">
        <h3>Upcoming Events:</h3>
        <%= render 'layouts/events' %>
      </div>
    </div>
    <div class="span4">
      <div class="home_twitter">
        <h3>Recent Tweets</h3>
        <%= render 'tweets' %>
      </div>
    </div>
  </div>
</div>
