<h1>Want to host or sponsor a workshop?</h1>
<h2>Fantastic!</h2>
<p>If your company or organization has resources — whether funds or space — we&#8217;d love to work with you to put on a workshop! Our venue requirements are flexible; if you have a ton of space, we can find the students and volunteers to fill it, but if you only have room for 30 students, we can do that, too.</p>
<p>A RailsBridge workshop takes place over 1.5 days, generally a Friday evening Installfest to get all the student&#8217;s development environments up and running, followed by all-day small-group classes on Saturday. All organizers and teachers are volunteers, and students are not charged for attendance.</p>
<p>A Minimum Viable Workshop Venue has the following:</p>
<ul>
<li>Wireless internet access.</li>
<li>An open area large enough to fit all participants (for the Installfest and Saturday&#8217;s intro/closing presentations).</li>
<li>Spaces for small groups of 5-15 students. These could be meeting rooms, lounges, or any nook that is adequately sequestered from other groups.</li>
<li>Helpful: a space for a babysitter to take care of a kid or two. RailsBridge provides childcare for any students or volunteers that need it — usually a conference room or lounge will do.</li>
</ul>
<p>Since the teaching and organizing is all volunteer-based, our per-workshop expenses are relatively low. The things that cost money (and why we &lt;3 our sponsors):</p>
<ul>
<li>Pizza and beer on Friday night during the Installfest</li>
<li>Bagels (or other breakfast treats) and coffee on Saturday morning</li>
<li>Lunch on Saturday</li>
<li>Thank-you drinks (one per volunteer) at the after-workshop party</li>
</ul>
<p>Some venues are able to cover all four of the above; some cover just pizza and Saturday lunch, and sometimes our venues can only provide space, so we work to find additional sponsorship for foodstuffs. Whatever your company or organization can do is so totally appreciated.</p>
<h3>Why sponsor or host a workshop?</h3>
<p>Most simply, to make tech a more equitable environment.</p>
<p>A side benefit: getting your name and awesomeness in front of a bunch of current and future developers.</p>
<p>Specifics:</p>
<ul>
<li>Sponsors are always listed on the sign-up pages for students and volunteers.</li>
<li>We do a shout-out to the sponsors during the opening and closing presentations, and give you a portion of the opening presentation to explain your product, service, or anything else about yourself that seems relevant.</li>
<li>The Installfest ends for a student when she&#8217;s shown she can successfully deploy a basic Rails app, and then we give her a sticker. Your company&#8217;s sticker, hopefully!</li>
</ul>
              
