<h1>Want to host or sponsor a workshop?</h1>
<h2>Fantastic!</h2>
<p>If your company or organization has resources — whether funds or space — we&#8217;d love to work with you to put on a workshop! Our venue requirements are flexible; if you have a ton of space, we can find the students and volunteers to fill it, but if you only have room for 30 students, we can do that, too.</p>
<p>A RailsBridge workshop takes place over 1.5 days, generally a Friday evening Installfest to get all the student&#8217;s development environments up and running, followed by all-day small-group classes on Saturday. All organizers and teachers are volunteers, and students are not charged for attendance.</p>
<h3>Minimum Viable Workshop:</h3>
	<ul>
	<li>Wireless internet access.</li>
	<li>An open area large enough to fit all participants (for the Installfest and Saturday&#8217;s intro/closing presentations).</li>
	<li>Spaces for small groups of 5-15 students. These could be meeting rooms, lounges, or any nook that is adequately sequestered from other groups.</li>
	<li>A space for a babysitter to take care of a kid or two. RailsBridge provides childcare for any students or volunteers that need it — usually a conference room or lounge will do.</li>
</ul>

<p>Since the teaching and organizing is all volunteer-based, our per-workshop expenses are relatively low. The things that cost money (and why we &lt;3 our sponsors):</p>
<ul>
	<li>Pizza and beer on Friday night during the Installfest</li>
	<li>Bagels (or other breakfast treats) and coffee on Saturday morning</li>
	<li>Lunch on Saturday</li>
	<li>Thank-you drinks (one per volunteer) at the after-workshop party</li>
</ul>
<p>Some venues are able to cover all four of the above; some cover just pizza and Saturday lunch, and sometimes our venues can only provide space, so we work to find additional sponsorship for foodstuffs. Whatever your company or organization can do is so totally appreciated.</p>
<h3>Why sponsor or host a workshop?</h3>
<p>Most simply, to make tech a more equitable environment.</p>
<p>A side benefit: getting your name and awesomeness in front of a bunch of current and future developers.</p>
<p>Specifics:</p>
<ul>
	<li>Sponsors are always listed on the sign-up pages for students and volunteers.</li>
	<li>We do a shout-out to the sponsors during the opening and closing presentations, and give you a portion of the opening presentation to explain your product, service, or anything else about yourself that seems relevant.</li>
	<li>The Installfest ends for a student when she&#8217;s shown she can successfully deploy a basic Rails app, and then we give her a sticker. Your company&#8217;s sticker, hopefully!</li>
</ul>
<p>If you need any more help convincing your budget-keepers of the value of supporting RailsBridge, we have many talking points for you below!</p>

<h2>RailsBridge Workshops — Donor FAQ</h2>

<h3>What is a RailsBridge workshop?</h3>
<p>RailsBridge works to make tech more diverse and open by providing free training and networking opportunities to underrepresented groups. We teach Ruby, Ruby on Rails, HTML and CSS, and plan to add iOS, Git, and JavaScript to our stable of open-source curricula. </p>

<p>A typical workshop is 1.5 days, beginning with a Friday evening “Installfest” where we get all the necessary technologies installed on the students’ laptops, and a Saturday workshop focused on demystifying the topic at hand and building something the student can share, be it a static website, a simple Rails app, or a Ruby script that prints “100 Bottles of Beer on the Wall.” </p>

<p>The attitude at a RailsBridge workshop is palpably encouraging for all levels of programmers. Every workshops sees students with a wide range of backgrounds, from professional developers and QA engineers interested in learning Rails to total novices working with the command line for the very first time. Workshop organizers, teachers and TAs all volunteer their time and expertise, creating an environment where students feel comfortable taking risks and asking questions.</p>

<h3>How do the workshops make a difference?</h3>
<p>The benefits of attending a workshop as a student are fairly self-evident: free training in a very in-demand technology, a welcoming and accepting environment, and the opportunity to connect with professional developers. For new programmers, the affirmation that students receive can be the difference between forever being intimidated by computers (or programmers themselves) and feeling confident enough to dive into tech. Many of the participants have experience programming or hold a CS degree but have dropped out of the field.  A quick and practical introduction to a popular new language and framework can jumpstart a career shift.</p>

<p>Workshop students aren't the only ones learning, though. Seasoned developers join the RailsBridge community and learn to be more empathetic, deepen their knowledge of their craft, and importantly, challenge their subconscious preconceptions of what a programmer looks like. </p>

<p>Our process and curriculum are emphatically open source, so that we can create a distributed network of coders who value teaching and learners who become teachers. We are dedicated to doing whatever it takes so that the makers of technology are reflective of the people in our society.</p>

<h3>Why does RailsBridge need sponsorship?</h3>
<p>Accessibility is a chief priority for RailsBridge, and we’ve found that providing free food, drinks, supplies, and childcare allows our students and volunteers to fully commit to the task of learning and educating. Since our workshops do not charge tuition, we seek monetary and in-kind donations to cover those substantial costs. </p>

<p>In San Francisco, we’re fortunate to find most companies who host workshops are willing to also provide foods and drinks for the workshop as well. Our geographic expansion has increased the need for funds to support workshops in places where Ruby on Rails is less well-known by local businesses. Organizers in new communities are already busy recruiting volunteers and students — we want to take the challenge of fundraising off of their plates wherever possible.</p>
 
<h3>How can I convince my [insert decision maker here] that my company/organization should support RailsBridge? </h3>
<p>Supporting RailsBridge has the long-term benefit of contributing to increased diversity in tech (which leads to more productive and creative teams, for one). But supporting RailsBridge also has more immediate benefits, in particular, increasing your organization’s visibility within the Rails community. By sponsoring RailsBridge, you are publicly demonstrating to professional and future developers that your organization values diversity, openness, and excellence.</p>

<h3>Okay, I’m convinced. Where do I send the check?</h3>
<p>Individuals can contribute via PayPal. If your organization or company is interested in sponsoring, hosting, or organizing an event, we’d love to hear from you at  workshops@railsbridge.org.</p>
              
