<% provide(:title, page_title(['Helping','Interest Form'])) %>

<h1>Get Involved!</h1>
<p>We highly recommend joining our <%= link_to "workshop mailing list", "https://groups.google.com/forum/#!forum/railsbridge-workshops" %> and connecting with your <%= link_to "local chapter", chapters_path %> in addition to filling out this form.</p>

<iframe src="https://docs.google.com/forms/d/1sP40osNQOEB8W6AzsmobrhDyv_39VR4sgJPMTX8AYac/viewform?embedded=true#start=embed" width="700" height="1050" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
