<h1>Keep on learning! Here are some ways to do it.</h1>
<h2>You attended a RailsBridge workshop! That&#8217;s wonderful! Wondering what to do next?</h2>
<p>This is the most important thing:</p>
<h3>Pick your next project: a tutorial, a class, or building your own app, and GET STARTED!</h3>

<p>Also:</p>
<ul>
  <li>Keep in touch with the people you connected with at your workshop. Coding with other people around is really motivating, plus you get to help each other solve trickier stuff.</li>
  <li>Come back to another workshop as a student, TA, or teacher. You will definitely learn more, and teaching is a really great way to learn, too. (For those who are new to this: you&#8217;ll be prepared to TA sooner than you think, so don&#8217;t be shy! We need you!)</li>
</ul>
<h3>Resources for you</h3>
<p>There are too many wonderful resources to count, but we&#8217;ve gathered a few of our favorites here.</p>
<h4>Background</h4>
<ul>
  <li><a href="http://railsapps.github.io/what-is-ruby-rails.html" target="_blank">What is Ruby on Rails?</a> — in-depth primer introduces basic concepts and explains why Ruby on Rails is popular</li>
</ul>

<h4>Want to learn more Ruby?</h4>
<ul>
  <li>Our <a href="http://docs.railsbridge.org/workshop/ruby_for_beginners">Ruby Programming for Beginners</a> curriculum — includes project exercises</li>
  <li><a href="http://rubymonk.com/">Ruby Monk</a> — Ruby lessons &amp; tutorials.</li>
  <li>Sarah Allen&#8217;s &amp; Alex Chaffee&#8217;s <a href="http://testfirst.org/">TestFirst.org</a> — learn Ruby or JavaScript the test-driven way.</li>
  <li><a href="http://rubykoans.com/">Ruby Koans</a> —  a lovely interactive way to test what you know about Ruby so far.</li>
  <li><a href="http://ruby.learncodethehardway.org/">Learn Ruby the Hard Way</a> — a Ruby port of Zed Shaw&#8217;s introductory programming tutorial Learn Python the Hard Way.</li>
  <li><a title="Code Like This Lessons" href="http://codelikethis.com/lessons" target="_blank">Code Like This (Ruby)</a> &#8211; slides and videos teaching Ruby, linked to <a title="Learn Ruby Test First" href="http://testfirst.org/learn_ruby" target="_blank">TestFirst Labs</a></li>
</ul>
<h4>These Ruby books will knock your socks off:</h4>
<ul>
  <li>Chris Pine&#8217;s <a href="http://www.amazon.com/dp/0976694042/ref=nosim?tag=rubydocorg-20&amp;linkCode=sb1&amp;camp=212353&amp;creative=380549">Learn to Program</a> — explains Ruby from the very beginning; includes great challenges &amp; exercises.</li>
  <li><a href="http://www.amazon.com/Programming-Ruby-1-9-Pragmatic-Programmers/dp/1934356085">Programming Ruby</a> (a.k.a &#8220;The Pickaxe Book&#8221;) — a comprehensive reference of the Ruby language. A good second or third book on Ruby.</li>
  <li><a href="http://www.amazon.com/Eloquent-Addison-Wesley-Professional-Series-ebook/dp/B004MMEJ36">Eloquent Ruby</a> — focuses on writing idiomatic Ruby rather than programming skills or concepts.</li>
</ul>
<h4>Want to learn more Rails?</h4>
<ul>
  <li>Our <a href="http://docs.railsbridge.org/curriculum/">Ruby on Rails</a> curriculum</li>
  <li><a href="https://tutorials.railsapps.org/rails-tutorial" target="_blank">Rails Tutorials</a> — recommendations for a Rails tutorial to suit your skill level and learning style</li>
  <li>Michael Hartl&#8217;s <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails Tutorial</a> — a highly recommend next step after a RailsBridge workshop to cement and further your understanding of Rails.</li>
  <li>Envy Labs&#8217; <a href="http://railsforzombies.org/">Rails for Zombies</a> — good to know a little Ruby before this one.</li>
</ul>
<h4>These references &amp; guides are indispensable:</h4>
<ul>
  <li><a href="http://www.ruby-doc.org/">Ruby-doc.org</a> — the Ruby documentation online</li>
  <li><a href="http://guides.rubyonrails.org/">RailsGuides</a> — well-written and organized guides to Rails</li>
</ul>
<h4>Other collections of resources:</h4>
<ul>
  <li>Our <a href="http://pinterest.com/pvnrtmol/ruby-and-rails-resources/">Ruby and Rails Resources</a> Pinterest board — includes books, online tutorials, Meetup groups, and more</li>
  <li>Quora thread <a href="http://www.quora.com/Ruby-programming-language/How-do-I-learn-Ruby">&#8220;How do I learn Ruby?&#8221;</a></li>
</ul>
<h4>Beyond Ruby on Rails:</h4>
<ul>
  <li>Our <a href="http://docs.railsbridge.org/frontend/">Frontend (HTML, CSS, &amp; JavaScript)</a> curriculum</li>
  <li>Our <a href="http://pinterest.com/eanakashima/learn-the-front-end/">Frontend Resources</a> Pinterest board</li>
  <li><a href="http://www.codecademy.com/learn">Codecademy</a> — Javascript, JQuery, and Python tutorials</li>
  <li><a href="http://git-scm.com/">Pro Git</a> — Git documentation and guide (free online; or dead-tree version for sale)</li>
  <li><a href="http://www.khanacademy.org/#computer-science">Khan Academy: Computer Science</a></li>
</ul>
<h4>Where&#8217;s awesome stuff that&#8217;s local to me?</h4>
<h5>Around the San Francisco Bay Area:</h5>
<ul>
  <li><a href="http://www.sfruby.info">SF Ruby Meetup</a> — RailsBridge workshops, events specifically for alums to help you keep learning, and many more events (hack nights, talks, more) related to Rails or Ruby.</li>
  <li><a href="http://www.meetup.com/Women-Who-Code-SF/">Women Who Code</a> — language-agnostic group of woman coders, includes hack nights, weekly Rails &amp; frontend study groups (and more!)</li>
  <li><a href="http://www.meetup.com/Girl-Develop-It-San-Francisco/">Girl Develop It</a> — classes for women, focusing primarily on frontend languages (HTML, CSS, JavaScript)</li>
  <li><a href="http://blazingcloud.eventbrite.com/">Blazing Cloud</a> — classes on many topics including Ruby, Rails, and testing. Scholarships available.</li>
  <li><a href="https://www.noisebridge.net/wiki/Noisebridge">Noisebridge</a> — non-profit hacker space with classes (including Ruby on Rails) and other events</li>
</ul>
<h5>Outside SF?</h5>
<p>We&#8217;ve got you covered too! Ask your workshop&#8217;s organizer about the learning opportunities in your area.</p>
<h4>Of course, one more great way to learn:</h4>
<p>Come back to another workshop as a student, TA, or teacher! You know more than you realize.</p>
