<h1>Want to learn something? Excellent!</h1>

<h2>Finding a workshop to attend</h2>
<p>  There are RailsBridge workshops in over a dozen cities. Our <%= link_to "Chapters page", about_chapters_path %> can help you find a worskhop in your area. And if there isn't one planned, we can <%= link_to "help you set one up", organizing_path %>!</p>

<h2>Before the workshop</h2>
<h4>Get Your Computer Ready</h4>
<p>Our evening Installfest will match you up with a volunteer coach to make sure your computer is ready for you to build a Rails application. Make the most of Installfest by working through the <a href="http://installfest.railsbridge.org/installfest/installfest" target="_blank">Installfest instructions</a> in advance. It's great if you can get your computer ready on your own; you'll have more time to get acquainted with students and coaches at Installfest. If you run into difficulties getting your computer ready at home, bring the problems to Installfest and we'll help you get everything working.</p>
<h4>Get Cosy with the Command Line</h4>
<p>You'll need to run programs from your computer's command line to develop a Rails application. If you haven't used the computer's terminal application (PowerShell on Windows), take time to practice so you'll be ready. The <a href="http://cli.learncodethehardway.org/book/" target="_blank">Command Line Crash Course</a> introduces the basics with a short self-study tutorial. For a quick video introduction, see <a href="http://schneems.com/post/26569696837/command-line-basics" target="_blank">Command Line Basics</a> from Richard Schneeman.</p>
<h4>Get a Taste of HTML and CSS</h4>
<p>You don't need to know HTML and CSS to attend a RailsBridge workshop but familiarity will help you progress faster. Any book or online introduction to HTML and CSS will give you the background you need to get the most from a RailsBridge workshop. RailsBridge offers occasional workshops on HTML and CSS for beginners if you want to learn in a supportive group environment.</p>
<h4>Sneak a Peek at the Curriculum</h4>
<p>The <a href="http://curriculum.railsbridge.org/docs/" target="_blank">RailsBridge Curriculum</a> is online so you can get an advance look at what you'll be learning. Most classes follow the <a href="http://curriculum.railsbridge.org/curriculum/curriculum" target="_blank">RailsBridge Introductory Curriculum</a> (our "Suggestotron" project) but some workshops cover the Ruby language, HTML and CSS for beginners, or Intermediate Rails.</p>
<h4>Advance Reading</h4>
<p>If you have time, you can prepare with the in-depth primer, <a href="http://railsapps.github.io/what-is-ruby-rails.html" target="_blank">"What is Ruby on Rails?"</a> from the RailsApps project. The article introduces basic concepts, explains why Ruby on Rails is popular, and provides background so you’ll get the most from a RailsBridge workshop.</p>
<h2>FAQ</h2>
<p><strong>Q: Do I have to attend the Installfest?</strong></p>
<p>A: Yes! The Installfest is a crucial part of the weekend, even if you&#8217;ve already gone through the instructions independently. There are a ton of moving parts when setting up a development environment, and the reason that we&#8217;re able to get through the curriculum on Saturday is that every single student has had their development environment checked and has been awarded a sticker for their success. There are also enough changing parts that even if you&#8217;ve been to a workshop in the past, you should attend the Installfest to get re-verified, because Rails and its development environment changes frequently.</p>
<p><strong>Q: Do I really have to attend the Installfest?</strong></p>
<p>A: Yes, really. There will be pizza, we promise. And fun people to talk to. And you don&#8217;t have to be there very long if you&#8217;ve already gotten through all the steps. (But if you haven&#8217;t gotten through all the steps ahead of time, please come early in the evening, because an install can take a few hours depending on what hiccups we need to work through.)</p>
<p><strong>Q: How much does childcare cost?</strong></p>
<p>A: Nothing! RailsBridge hires a sitter on the house so that there&#8217;s nothing between you and your computer. Childcare is typically provided in a lounge or conference room near to your classroom. Just let the organizer know ahead of time so we can make arrangements.</p>

