<h2>FAQ</h2>

<h4>Do I have to attend the Installfest?</h4>
<p>Yes! The Installfest is a crucial part of the weekend, even if you&#8217;ve already gone through the instructions independently. There are a ton of moving parts when setting up a development environment, and the reason that we&#8217;re able to get through the curriculum on Saturday is that every single student has had their development environment checked and has been awarded a sticker for their success. There are also enough changing parts that even if you&#8217;ve been to a workshop in the past, you should attend the Installfest to get re-verified, because Rails and its development environment changes frequently.</p>

<h4>Do I really have to attend the Installfest?</h4>
<p>Yes, really. There will be pizza, we promise. And fun people to talk to. And you don&#8217;t have to be there very long if you&#8217;ve already gotten through all the steps. (But if you haven&#8217;t gotten through all the steps ahead of time, please come early in the evening, because an install can take a few hours depending on what hiccups we need to work through.)</p>

<h4>How much does childcare cost?</h4>
<p>A: Nothing! RailsBridge hires a sitter on the house so that there&#8217;s nothing between you and your computer. Childcare is typically provided in a lounge or conference room near to your classroom. Just let the organizer know ahead of time so we can make arrangements.</p>

<h4>Do I need to do anything before the workshop?</h4>
It's a <em>really</em> good idea to start the Installfest ahead of time, and download any of the necessary things that your organizer emailed you about (RailsInstaller, perhaps, or XCode, or Sublime Text). Other than that, come as you are!</p>
