- provide(:title, page_title(['Helping','Organize a Workshop']))

%h1 Want to organize a workshop?
%h1 Wonderful!
%h2 What does organizing entail?
%p A lot of organizers have never thrown an event like this before and want to know what qualifications it takes. You don't have to be a born event-planner to be an awesome organizer. Here are a couple of things that are most helpful:
%ul
  %li Excitement
  %li 1 or 2 other people who can help you get word out to local community
  %li A few hours a week leading up to the weekend for pre-workshop planning
  %li Availability the weekend of the workshop
  %li Some degree of organizational/logistical tendencies (or a co-organizer who is like that)
  %li Ability to give a short presentation (or a co-organizer whose willing to)
  %li Having attended a prior workshop as a student, teacher, volunteer, or observer.
%p The time commitment varies depending on how you and your co-organizer divide the responsibilities; everyone organizing should plan on devoting their Friday night and most of Saturday to the workshop, and some time before the workshop to visiting the space, ordering food, and communicating with students and volunteers. Although it is a lot of little details to deal with, if it's your first time organizing we'll hook you up with a mentor to answer questions and help guide you.  That can be remote mentoring, if an experienced local organizer/mentor is't available.
%p If you are interested in organizing a workshop, or even just vaguely curious, contact Rachel Myers and Lillie Chilen, who will be very happy to talk about it. (They are lilliechilen at gmail dot com, and rachelmariemyers at gmail dot com, respectively.)
.row-fluid
  .span6
    .feature-list
      .feature.clearfix.feature-1
        .feature-icon.icon-3x.icon-beaker
        %h4 The Workshop Cookbook: How to Organize Every Workshop
        %p We've got tons of information in our Workshop Cookbook, which lives in a wiki on the RailsBridge GitHub page.
        %p
          Read it, use it, and update it:
          %a{:href => "https://github.com/railsbridge/docs/wiki/Cookbook"} https://github.com/railsbridge/docs/wiki/Cookbook
  .span6
    = render 'mailing_list'