- provide(:title, page_title(['About','Past Events']))

%h1 So many workshops!
.row-fluid
  .span10
    %h3 RailsBridge workshops happen all over the world. Our #{link_to "Chapters page", :chapters} can help you find a worskhop in your area. And if there isn't one planned, we can #{link_to "help you set one up", :organize}!
%h2 Past Workshops
%table.table.table-striped
  %tbody
    %tr
      %td
        %h3 No.
      %td
        %h3 Dates
      %td
        %h3 City
      %td
        %h3 Location
      %td
        %h3 Organizers
      %td
        %h3 Notes
    %tr
      %td 107
      %td
        %a{:href => "http://bridgetroll.herokuapp.com/events/58", :target => "_blank"} August 23-24, 2013
      %td San Francisco
      %td Thoughtbot
      %td Jessie Young
      %td
    %tr
      %td 106
      %td
        %a{:href => "http://www.meetup.com/Mad-Railers/events/119755612/", :target => "_blank"} August 21-22, 2013
      %td Madison
      %td Bendyworks, Madison College Downtown
      %td Jim Remsik, Mad-Railers & Desi McAdam
      %td
    %tr
      %td 105
      %td
        %a{:href => "http://railsbridgecapetown.org/", :target => "_blank", :title => "Cape Town RailsBridge Workshop"} July 26-27, 2013
      %td Cape Town
      %td Unboxed Consulting
      %td Steve Barnett, Rich Archer, Andrew Higson-Smith, Rudy Neeser, Claire Hammon
      %td
    %tr
      %td 104
      %td
        %a{:href => "https://lonestarruby.thundertix.com/", :target => "_blank", :title => "Lonestar Ruby Conference RailsBridge Workshop"} July 18, 2013
      %td Austin
      %td Lonestar Ruby Conference
      %td
        Lonestar Ruby Conference, Sarah Mei
        %strong
          %br/
      %td
    %tr
      %td 103
      %td
        %a{:href => "http://rubysavannah.com/events/1", :target => "_blank"} July 12-13, 2013
      %td Savannah
      %td Creative Coast
      %td Kevin Lawver
      %td
    %tr
      %td 102
      %td
        %a{:href => "http://www.meetup.com/silicon-valley-ruby/events/120215942/", :target => "_blank"} July 12-13, 2013
      %td Mountain View
      %td Google Quad Campus
      %td Bernie Telles
      %td
    %tr
      %td 101
      %td
        %a{:href => "http://www.meetup.com/sfruby/events/122287222/", :target => "_blank"} July 13, 2013
      %td San Francisco
      %td Carbon Five
      %td Hugo Melo, Sean Durham, Rachel Myers
      %td Front End Workshop
    %tr
      %td 100
      %td
        %a{:href => "http://www.meetup.com/Boulder-Denver-Railsbridge/events/113791422/", :target => "_blank"} June 21-22, 2013
      %td Denver
      %td DaVinci Coders
      %td Jason Noble, Nick Howard, Sarah Snider
      %td
    %tr
      %td 99
      %td
        %a{:href => "http://www.railsbridgeboston.org/", :target => "_blank", :title => "RailsBridge Boston"} June 21-22, 2013
      %td Boston
      %td Microsoft NERD Center
      %td RailsBridge Boston
      %td
    %tr
      %td 98
      %td
        %a{:href => "http://www.meetup.com/SeattleRailsBridge/events/119339102/", :target => "_blank", :title => "Seattle RailsBridge"} June 7-8, 2013
      %td Seattle
      %td tba
      %td Renée De Voursney, Cheri Allen, Betsey Walker
      %td
    %tr
      %td 97
      %td
        %a{:href => "http://railsbridgenyc2013.eventbrite.com/", :target => "_blank"} June 6-7, 2013
      %td New York City
      %td MicroOffice
      %td Rachel Ober
      %td
    %tr
      %td 96
      %td
        %a{:href => "http://www.meetup.com/RailsBridgeMx/events/120327072/", :target => "_blank"} June 3-4, 2013
      %td Mexico
      %td Crowd Interactive HQ
      %td
        %strong>
          %br/
        Codificadas, Desi Macadam
      %td with MagmaConf
    %tr
      %td 95
      %td
        %a{:href => "http://www.meetup.com/sfruby/events/120432522/", :target => "_blank"} May 31-June 1, 2013
      %td San Francisco
      %td Yammer
      %td Ryan Kennedy, Isa Herico, Bernie Telles
      %td
    %tr
      %td 94
      %td
        %a{:href => "http://www.meetup.com/silicon-valley-ruby/events/106648522/", :target => "_blank", :title => "Silicon Valley RailsBridge Workshop"} May 31-June 1, 2013
      %td Sunnyvale
      %td Outright, Inc.
      %td Richa Avashthi
      %td
    %tr
      %td 93
      %td
        %a{:href => "http://www.meetup.com/indyrb/events/113743442/"} May 24-25 2013
      %td Indianapolis
      %td The Speak Easy
      %td Miles Z. Sterrett & Anna C.
      %td
    %tr
      %td 92
      %td
        %a{:href => "https://tito.io/neouk/edinburgh-railsbridge", :target => "_blank"} May 10-11 2013
      %td Edinburgh, Scotland
      %td TechCube
      %td Paul Wilson & Rachel Meyers
      %td
    %tr
      %td 91
      %td
        %a{:href => "http://railsbridgevictoria2.eventbrite.com/"} May 3-4 2013
      %td Victoria, BC
      %td XMatters
      %td Rebeca Duhn-Krahn
      %td Front End Workshop
    %tr
      %td 90
      %td
        %a{:href => "http://www.eventbrite.com/event/5398230252/es2005/"} May 3-4 2013
      %td Montreal, QC
      %td The Notman House
      %td RailsBridge Montreal, Martin Provencher, Mathieu Gagné, Gary Haran, Andy Maleh, Manon Deloupy, & Antonio Lovera
      %td
    %tr
      %td 89
      %td
        %a{:href => "http://www.meetup.com/Collexion-Hackerspace/events/111514042/"} April 19-20, 2013
      %td Lexington, KY
      %td Awesome Inc
      %td Todd Wiley, Sarah Vessels, & Aaron Arnett
      %td
    %tr
      %td 88
      %td
        %a{:href => "http://www.eventbrite.com/event/5267402944/estw"} April 12-13, 2013
      %td Orlando, FL
      %td Envy Labs
      %td Aimee Simone & Sarah Sheehan
      %td
    %tr
      %td 87
      %td
        %a{:href => "http://www.sfruby.info/events/111573492/"} April 12-13, 2013
      %td San Francisco
      %td Tapjoy
      %td David Ladowitz, Jackie Herrlin, and team
      %td
    %tr
      %td 86
      %td
        %a{:href => "http://www.sfruby.info/events/109960702/"} March 30, 2013
      %td San Francisco
      %td ModCloth
      %td Isa Herico, Renee Chu, Rachel Meyers, Kara Fouts
      %td Front End Workshop
    %tr
      %td 85
      %td
        %a{:href => "http://www.meetup.com/silicon-valley-ruby/events/106648522/"} March 22-23, 2013
      %td Sunnyvale
      %td Outright
      %td Richa Avasthi & Steven! Ragnarök
      %td
    %tr
      %td 84
      %td
        %a{:href => "http://www.sfruby.info/events/104829002/"} March 15-16, 2013
      %td San Francisco
      %td WestEd
      %td Sarah Allen, Ayori Selassie, & BlackFounders
      %td
    %tr
      %td 83
      %td
        %a{:href => "http://www.meetup.com/San-Diego-RailsBridge/"} March 8-9, 2013
      %td San Diego
      %td CoMerge
      %td Alex Boster
      %td
    %tr
      %td 82
      %td
        %a{:href => "http://railsbridgebend-estw.eventbrite.com/"} March 5-6, 2013
      %td Bend, OR
      %td Ruby on Ales conference
      %td Renée De Voursney
      %td
    %tr
      %td 81
      %td
        %a{:href => "http://www.meetup.com/Boulder-Denver-Railsbridge/events/103886552/"} March 1-2, 2013
      %td Boulder, CO
      %td QuickLeft
      %td Desi McAdam, Sara Snider, & Nick Howard
      %td
    %tr
      %td 80
      %td
        %a{:href => "http://www.quicket.co.za/events/1209-rubyfuza-2013/"} February 23, 2013
      %td Johannesburg, South Africa
      %td Rubyfuza Conference
      %td Renée De Voursney
      %td
    %tr
      %td 79
      %td
        %a{:href => "http://www.railsbridgeboston.org/"} Feb 22 (installfest) & March 2, 2013
      %td Boston
      %td MIT Stata Center
      %td RailsBridge Boston
      %td
    %tr
      %td 78
      %td
        %a{:href => "http://railsbridgenorfolk.eventbrite.com/"} February 22-23, 2013
      %td Norfolk, VA
      %td 757 Creative Space
      %td Ryan Castillo
      %td
    %tr
      %td 77
      %td
        %a{:href => "http://www.meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group/events/103985512/"} February 21-22, 2013
      %td Burbank, CA
      %td LA Ruby Conf
      %td Tiffany Davis, Jen Diamond, & Anna Mendoza
      %td
    %tr
      %td 76
      %td
        %a{:href => "http://www.quicket.co.za/events/1209-rubyfuza-2013/"} February 16, 2013
      %td Port Elizabeth, South Africa
      %td Rubyfuza Conference
      %td Renée De Voursney
      %td
    %tr
      %td 75
      %td
        %a{:href => "http://code4lib.org/conference/2013/schedule"} February 11, 2013
      %td Chicago, IL
      %td Code4Lib Conference
      %td Jason Ronallo & Mark Bussey
      %td
    %tr
      %td 74
      %td
        %a{:href => "http://rubymke.org"} February 10, 2013
      %td Milwaukee, WI
      %td
      %td Dave Strock & Milwaukee Ruby User Group
      %td
    %tr
      %td 73
      %td
        %a{:href => "http://www.sfruby.info/events/99743792/"} February 8, 2013
      %td San Francisco
      %td VerticalResponse
      %td Tasha Drew & Bosco So
      %td
    %tr
      %td 72
      %td
        %a{:href => "http://www.quicket.co.za/events/1209-rubyfuza-2013/"} February 6, 2013
      %td Cape Town, South Africa
      %td Rubyfuza Conference
      %td Renée De Voursney
      %td
    %tr
      %td 71
      %td
        %a{:href => "http://www.meetup.com/Boulder-Denver-Railsbridge/events/100597922/"} February 1-2, 2013
      %td Denver, CO
      %td
      %td Desi McAdam
      %td
    %tr
      %td 70
      %td
        %a{:href => "http://www.sfruby.info/events/95923212/"} January 25, 2013
      %td San Francisco
      %td ThoughtWorks
      %td Bill DePhilips & Irene Haque
      %td Intermediate Rails Workshop
    %tr
      %td 69
      %td
        %a{:href => "http://www.sfruby.info/events/97765412/"} January 19, 2013
      %td San Francisco
      %td CarbonFive
      %td Mary Jenn & Sean Durham
      %td Front End Workshop
    %tr
      %td 68
      %td
        %a{:href => "http://learn.intelligent.ly/railsbridge"} January 18-19, 2013
      %td Boston
      %td Intelligent.ly
      %td RailsBridge Boston
      %td
    %tr
      %td 67
      %td
        %a{:href => "http://railsbridgenwfl-estw.eventbrite.com/"} January 11-12, 2013
      %td Panama City
      %td WorkHappy Coworking Space
      %td Beverly Nelson, Rye Mason, & Allan Branch
      %td
    %tr
      %td 66
      %td
        %a{:href => "http://rubymke.org"} January, 2013
      %td Milwaukee
      %td
      %td Dave Strock & Milwaukee Ruby User Group
      %td Intro to Ruby
    %tr
      %td 65
      %td
        %a{:href => "http://www.meetup.com/SeattleRailsBridge/events/91658482/"} December 14-15, 2012
      %td Seattle, WA
      %td Substantial
      %td Renée De Voursney & Cheri Allen
      %td
    %tr
      %td 64
      %td
        %a{:href => "http://www.sfruby.info/events/94140352/"} December 14-15, 2012
      %td San Francisco
      %td Pivotal Labs
      %td Judy Tuan & Andrea Heilbronner Ängquist
      %td
    %tr
      %td 63
      %td
        %a{:href => "http://www.meetup.com/Boulder-Denver-Railsbridge/events/90403942/"} November 30-December 1, 2012
      %td Denver
      %td Galvanize
      %td Wendy Norris & Sara Snider
      %td
    %tr
      %td 62
      %td
        %a{:href => "http://railsbridgevictoria-estw.eventbrite.com/"} November 30-December 1, 2012
      %td Victoria, BC
      %td Mediacore
      %td Rebeca Dunn-Krahn
      %td
    %tr
      %td 61
      %td
        %a{:href => "http://www.sfruby.info/events/90071112/"} November 16-17, 2012
      %td San Francisco
      %td Vertical Response
      %td Lillie Chilen
      %td Intermediate Rails
    %tr
      %td 60
      %td
        %a{:href => "http://www.railsbridgeboston.org/"} November 8-9, 2012
      %td Boston
      %td MIT Stata Center
      %td RailsBridge Boston
      %td
    %tr
      %td 59
      %td
        %a{:href => "http://www.sfruby.info/events/87954222/"} November 2-3, 2012
      %td San Francisco
      %td GitHub
      %td Daniela Wellisz & Jessie Young
      %td
    %tr
      %td 58
      %td
        %a{:href => "http://www.meetup.com/Boulder-Denver-Railsbridge/events/86997522/"} October 26-27, 2012
      %td Boulder
      %td Gnip
      %td Nick Howard
      %td
    %tr
      %td 57
      %td October 12-13, 2012
      %td San Francisco
      %td Scribd
      %td Tasha Drew, Karla Leibowitz, & Amy Lightholder
      %td
    %tr
      %td 56
      %td September 28-29, 2012
      %td San Francisco
      %td Engine Yard
      %td Ines Sombra & Joe Jackson
      %td
    %tr
      %td 55
      %td September 21-22, 2012
      %td Santa Monica
      %td Carbon Five
      %td Tiffany Davis
      %td
    %tr
      %td 54
      %td September 19, 2012
      %td Boulder
      %td Bing (Rocky Mountain Ruby Conference)
      %td Sara Snider & Nick Howard
      %td
    %tr
      %td 53
      %td August 24-25, 2012
      %td San Francisco
      %td Rackspace
      %td Isa Herico & Carina C. Zona
      %td Ruby for Beginners
    %tr
      %td 52
      %td August 24-25, 2012
      %td Minneapolis
      %td coderow
      %td RailsBridge MN
      %td
    %tr
      %td 51
      %td August 22-23, 2012
      %td Madison, WI
      %td Madison College at the Madison Ruby Conference
      %td Jenifer Remsik & Jim Remsik
      %td
    %tr
      %td 50
      %td August 17-18, 2012
      %td Santa Monica
      %td CarbonFive
      %td Tiffany Davis
      %td
    %tr
      %td 49
      %td August 17-18, 2012
      %td Boston
      %td Harvard Law School
      %td Dan Choi & RailsBridge Boston
      %td
    %tr
      %td 48
      %td July 27-28, 2012
      %td Boulder
      %td Microsoft Bing
      %td Wendy Norris
      %td
    %tr
      %td 47
      %td July 27-28, 2012
      %td Orlando
      %td Envy Labs
      %td Aimee Simone & Sarah Sheehan
      %td
    %tr
      %td 46
      %td July 20-21, 2012
      %td San Francisco
      %td Code for America
      %td Michelle Lee, Ruthie BenDor, & Tina Lee
      %td
    %tr
      %td 45
      %td July 13-14, 2012
      %td Berlin
      %td Co.Up
      %td Renée De Voursney & supported by RailsGirls
      %td
    %tr
      %td 44
      %td June 30-31, 2012
      %td San Mateo, CA
      %td NexTag
      %td Mary Jenn & Bill DePhillips
      %td
    %tr
      %td 43
      %td
        %a{:href => "http://www.sfruby.info/events/67298252/"} June 8-9, 2012
      %td San Francisco
      %td Airbnb
      %td Carina C. Zona & Bosco So
      %td
    %tr
      %td 42
      %td
        %a{:href => "http://www.meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women/events/63726142/"} June 1-2, 2012
      %td Chicago
      %td Groupon
      %td Ginny Hendry
      %td
    %tr
      %td 41
      %td
        %a{:href => "http://www.meetup.com/SeattleRailsBridge/events/59913072/"} June 1-2, 2012
      %td Seattle
      %td Substantial
      %td Renée De Voursney & Elise Worthy
      %td
    %tr
      %td 40
      %td
        %a{:href => "http://www.eventbrite.com/event/3242290779"} May 20-21, 2012
      %td Minneapolis
      %td Guthrie Theater
      %td Nick Sieger, Sarah Allen, & JRubyConf
      %td
    %tr
      %td 39
      %td May 12-13, 2012
      %td Singapore
      %td New Context
      %td Desi McAdam
      %td
    %tr
      %td 38
      %td May 11-12, 2012
      %td San Francisco
      %td ThoughtWorks
      %td Mary Jenn and Rodrigo Vanegas
      %td
    %tr
      %td 37
      %td April 27-28, 2012
      %td San Francisco
      %td Scribd
      %td Carina C. Zona, Tina Lee, and Amy Lightholder
      %td
    %tr
      %td 36
      %td April 21, 2012
      %td San Francisco
      %td Twilio
      %td Renée Chu
      %td Front End Workshop
    %tr
      %td 35
      %td March 30-31, 2012
      %td San Francisco
      %td Pivotal Labs
      %td Lillie Chilen & Jessie Young
      %td
    %tr
      %td 34
      %td February 28-29, 2012
      %td Bend, OR
      %td Ruby on Ales Conference
      %td Renée De Voursney
      %td
    %tr
      %td 33
      %td
        %a{:href => "http://www.sfruby.info/events/52502132/"} February 25, 2012
      %td San Francisco
      %td ModCloth
      %td Rachel Myers & friends
      %td Front End Workshop
    %tr
      %td 32
      %td January 13-14, 2012
      %td San Francisco
      %td Scribd
      %td Walter Yu & Andrea Angquist
      %td
    %tr
      %td 31
      %td December 2-3, 2011
      %td San Francisco
      %td Pivotal Labs
      %td Sean Durham & Renée Chu
      %td
    %tr
      %td 30
      %td November 18-19, 2011
      %td San Francisco
      %td Google Ventures
      %td Greg Tomei & Renée Chu
      %td
    %tr
      %td 29
      %td
        %a{:href => "http://taller.rubyconfuruguay.org/about.html"} November 5, 2011
      %td Montevideo, Uruguay
      %td
      %td Gabriela Rodriguez, Lucia Escanellas, Verónica Rebagliatte, and DevChix Uruguay
      %td en Español
    %tr
      %td 28
      %td
        %a{:href => "http://www.sfruby.info/events/33540222/"} October 21-22 2011
      %td San Francisco
      %td Engine Yard
      %td Andrea Angquist & Ines Sombra
      %td
    %tr
      %td 27
      %td
        %a{:href => "http://www.meetup.com/SeattleRailsBridge/events/30622481/"} September 16-17, 2011
      %td Seattle
      %td Substantial
      %td Renée De Voursney & Elise Worthy
      %td
    %tr
      %td 26
      %td
        %a{:href => "http://www.sfruby.info/events/29387411/"} September 9-10, 2011
      %td San Francisco
      %td Pivotal Labs
      %td Kelly Dunn, Sara Richardson
      %td
    %tr
      %td 25
      %td
        %a{:href => "http://www.meetup.com/Mad-Railers/events/28214611/"} August 17-18, 2011
      %td Madison, WI
      %td Madison Ruby Conference
      %td Desi McAdam, Stephen Anderson, & Mad-Rails
      %td
    %tr
      %td 24
      %td August 13-14, 2011
      %td San Francisco
      %td Square
      %td Andrea Angquist & Walter Yu
      %td
    %tr
      %td 23
      %td August 5-6, 2011
      %td San Francisco
      %td Kapor Foundation
      %td Carmen Díaz Echauri
      %td en Español
    %tr
      %td 22
      %td
        %a{:href => "http://www.meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women/events/18549511/"} June 3-4, 2011
      %td Chicago
      %td Hashrocket
      %td Ginny Hendry
      %td
    %tr
      %td 21
      %td May 6-7, 2011
      %td New York City
      %td Harvest
      %td Mimi Hui
      %td
    %tr
      %td 20
      %td May 6-7, 2011
      %td San Francisco
      %td Pivotal Labs
      %td Raphael Lee & Andrea Angquist
      %td
    %tr
      %td 19
      %td April 22-23, 2011
      %td Seattle
      %td Founder’s Co-op
      %td Elise Worthy
      %td
    %tr
      %td 18
      %td April 8-9, 2011
      %td San Francisco
      %td ModCloth
      %td Megan Guering
      %td
    %tr
      %td 17
      %td March 25-26, 2011
      %td San Francisco
      %td Pivotal Labs
      %td Amy Lightholder
      %td
    %tr
      %td 16
      %td March 11-12, 2011
      %td Petaluma, CA
      %td Enphase Energy
      %td Brenda Strech & Ilen Zazueta-Hall
      %td
    %tr
      %td 15
      %td February 4-5, 2011
      %td Chicago
      %td Hashrocket
      %td Desi McAdam
      %td
    %tr
      %td 14
      %td February 4-5, 2011
      %td San Francisco
      %td Twitter
      %td Amy Chen
      %td
    %tr
      %td 13
      %td
        %a{:href => "http://www.sfruby.info/events/15493602/"} December 10-11, 2010
      %td San Francisco
      %td IGN Entertainment
      %td Amy Lightholder
      %td
    %tr
      %td 12
      %td October 22-23, 2010
      %td San Francisco
      %td Engine Yard
      %td Karen Zeller & Curtis Schofield
      %td
    %tr
      %td 11
      %td
        %a{:href => "http://www.sfruby.info/events/14836042/"} October 5-6, 2010
      %td Boulder
      %td Mountainrb Conference
      %td
      %td Rails Quickstart Charity Workshop
    %tr
      %td 10
      %td
        %a{:href => "http://workshops.railsbridge.org/2011/03/riding-rails-in-south-america/"} October, 2010
      %td Asunción, Paraguay
      %td Universidad Católica de Asunción
      %td Carmen Díaz Echauri
      %td en Español
    %tr
      %td 9
      %td
        %a{:href => "http://www.sfruby.info/events/14701678/?action=detail&eventId=14701678"} September 10-11, 2010
      %td San Francisco
      %td Pivotal Labs
      %td Sarah Mei & Sarah Allen
      %td
    %tr
      %td 8
      %td
        %a{:href => "http://www.sfruby.info/events/13358016/?action=detail&eventId=13358016"} May 21-22, 2010
      %td San Francisco
      %td Pivotal Labs
      %td Amy Chen & Melanie Archer
      %td
    %tr
      %td 7
      %td
        %a{:href => "http://railsbridgenyc2011.eventbrite.com/"} May 20-21, 2010
      %td New York City
      %td Pace University
      %td Jen Lindner, Sarah Mei, Meghan Womack, & Mike Dalessio
      %td
    %tr
      %td 6
      %td
        %a{:href => "http://www.sfruby.info/events/12605445/?action=detail&eventId=12605445"} February 26-27 2010
      %td San Francisco
      %td Microsoft
      %td Sarah Allen, Sarah Mei, & Ilen Zazueta-Hall
      %td
    %tr
      %td 5
      %td
        %a{:href => "http://blogs.law.harvard.edu/genderandtech/ruby-on-rails-workshop-for-women/"} October 16-17 2009
      %td Cambridge, MA
      %td Berkman Center, Harvard University
      %td Leana Leahy & Mary Tolbert
      %td
    %tr
      %td 4
      %td October 3-4, 2009
      %td Oahu, HI
      %td Aloha on Rails
      %td
      %td
    %tr
      %td 3
      %td September 26-27, 2009
      %td San Francisco
      %td sfCube
      %td Sarah Allen, Sarah Mei, & Ilen Zazueta-Hall
      %td
    %tr
      %td 2
      %td
        %a{:href => "http://www.sfruby.info/events/10804417/?action=detail&eventId=10804417"} July 31-Aug 1 2009
      %td San Francisco
      %td Pivotal Labs
      %td Sarah Mei & Sarah Allen
      %td
    %tr
      %td 1
      %td
        %a{:href => "http://www.sfruby.info/events/10377288/"} June 12-13 2009
      %td South San Francisco
      %td OrangeLabs
      %td Sarah Mei & Sarah Allen
      %td