- provide(:title, page_title(['About','Past Events']))

.row
  .span7
    %h1 There have been so many workshops!
    %p
      %em Let's figure out a better way to display this info!
  .span4.offset1
    .feature-list
      .feature.clearfix.feature-1
        .feature-icon.icon-3x.icon-globe
        %h4 Finding a workshop to attend
        %ul
          %li
            There are RailsBridge workshops in over a dozen cities. Our #{link_to "Chapters page", chapters_path} can help you find a worskhop in your area. And if there isn't one planned, we can #{link_to "help you set one up", organize_path}!
.row
  .span12
    %ol
      %li
        %a{:href => "http://www.sfruby.info/events/10377288/"}> June 12-13 2009
        \: South San Francisco at OrangeLabs – organized by Sarah Mei & Sarah Allen
      %li
        %a{:href => "http://www.sfruby.info/events/10804417/?action=detail&eventId=10804417"}> July 31-Aug 1 2009
        \: San Francisco at Pivotal Labs – organized by Sarah Mei & Sarah Allen
      %li September 26-27 2009: San Francisco at sfCube
      %li October 3-4 2009: Oahu (Aloha on Rails)
      %li
        %a{:href => "http://blogs.law.harvard.edu/genderandtech/ruby-on-rails-workshop-for-women/"}> October 16-17 2009
        \: Cambridge, MA at Berkman Center, Harvard University – Leana Leahy & Mary Tolbert
      %li
        %a{:href => "http://www.sfruby.info/events/12605445/?action=detail&eventId=12605445"}> February 26-27 2010
        \: San Francisco at Microsoft – organized by Sarah Allen, Sarah Mei, & Ilen Zazueta-Hall
      %li
        %a{:href => "http://railsbridgenyc2011.eventbrite.com/"}> May 20-21, 2010
        \: New York City at Pace University – organized by Jen Lindner, Sarah Mei, Meghan Womack, & Mike Dalessio
      %li
        %a{:href => "http://www.sfruby.info/events/13358016/?action=detail&eventId=13358016"}> May 21-22, 2010
        \: San Francisco at Pivotal Labs – organized by Amy Chen & Melanie Archer
      %li
        %a{:href => "http://www.sfruby.info/events/14701678/?action=detail&eventId=14701678"}> September 10-11, 2010
        \: San Francisco at Pivotal Labs – organized by Sarah Mei & Sarah Allen
      %li
        %a{:href => "http://workshops.railsbridge.org/2011/03/riding-rails-in-south-america/"}> October, 2010
        \: Asunción, Paraguay at Universidad Católica de Asunción –
        %em en Español
        and organized by Carmen Díaz Echauri
      %li
        %a{:href => "http://www.sfruby.info/events/14836042/"}> October 5-6, 2010
        \: Boulder (Mountainrb Conference)   Rails Quickstart Charity Workshop
      %li October 22-23, 2010: San Francisco at Engine Yard
      %li
        %a{:href => "http://www.sfruby.info/events/15493602/"}> December 10-11, 2010
        \: San Francisco at IGN Entertainment – organized by Amy Lightholder
      %li February 4-5, 2011: San Francisco at Twitter – organized by Amy Chen
      %li February 4-5, 2011: Chicago at Hashrocket – organized by Desi McAdam
      %li March 11-12, 2011: Petaluma, CA at Enphase Energy – organized by Brenda Strech & Ilen Zazueta-Hall
      %li March 25-26, 2011: San Francisco at Pivotal Labs – organized by Amy Lightholder
      %li April 8-9, 2011: San Francisco at ModCloth – organized by Megan Guering
      %li
        %a{:href => "http://www.meetup.com/SeattleRailsBridge/events/16691509/"}> April 22-23, 2011
        \: Seattle at  Founder’s Co-op – organized by Elise Worthy
      %li May 6-7, 2011: San Francisco at Pivotal Labs – organized by Raphael Lee &  Andrea Angquist
      %li May 6-7, 2011: New York City at Harvest – organized by Mimi Hui
      %li
        %a{:href => "http://www.meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women/events/18549511/"}> June 3-4, 2011
        \: Chicago at Hashrocket – organized by Ginny Hendry
      %li
        August 5-6, 2011: San Francisco at Kapor Foundation –
        %em en Español
        and organized by Carmen Díaz Echauri
      %li August 13-14, 2011: San Francisco at Square – organized by Andrea Angquist, Walter Yu
      %li
        %a{:href => "http://www.meetup.com/Mad-Railers/events/28214611/"}> August 17-18, 2011
        \: Madison, WI (Madison Ruby Conference) – organized by Desi McAdam, Stephen Anderson, & Mad-Rails
      %li
        %a{:href => "http://www.sfruby.info/events/29387411/"}> September 9-10, 2011
        \: San Francisco at Pivotal Labs – organized by Kelly Dunn, Sara Richardson
      %li
        %a{:href => "http://www.meetup.com/SeattleRailsBridge/events/30622481/"}> September 16-17, 2011
        \: Seattle at Substantial – organized by Renée De Voursney & Elise Worthy
      %li
        %a{:href => "http://www.sfruby.info/events/33540222/"}> October 21-22 2011
        \: San Francisco at Engine Yard – organized by Andrea “Angquist & Ines Sombra
      %li
        %a{:href => "http://taller.rubyconfuruguay.org/about.html"}> November 5, 2011
        \: Montevideo, Uruguay –
        %em en Español
        and organized by Gabriela Rodriguez, Lucia Escanellas, Verónica Rebagliatte, and DevChix Uruguay
      %li November 18-19, 2011: San Francisco at Google Ventures – organized by Greg Tomei & Renée Chu
      %li December 2-3, 2011: San Francisco at Pivotal Labs- organized by Sean Durham & Renée Chu
      %li January 13-14, 2012: San Francisco at Scribd – organized by Walter Yu & Andrea Angquist
      %li
        %a{:href => "http://www.sfruby.info/events/52502132/"}> February 25, 2012
        \: San Francisco at ModCloth – “Learn the Front End” organized by Rachel Myers & friends
      %li February 28-29, 2012: Bend, OR (Ruby on Ales Conference) – organized by Renée De Voursney
      %li March 30-31, 2012: San Francisco at Pivotal Labs  – organized by Lillie Chilen & Jessie Young
      %li April 21, 2012: San Francisco at Twilio – “Learn the Front End” organized by Renée Chu
      %li April 27-28, 2012: San Francisco at Scribd – organized by Carina C. Zona, Tina Lee, and Amy Lightholder
      %li May 11-12, 2012: San Francisco at ThoughtWorks – organized by Mary Jenn and Rodrigo Vanegas
      %li May 12-13, 2012: Singapore at New Context – organized by Desi McAdam
      %li
        %a{:href => "http://www.eventbrite.com/event/3242290779"}> May 20-21, 2012
        \: Minneapolis at Guthrie Theater – organized by Nick Sieger, Sarah Allen, & JRubyConf
      %li
        %a{:href => "http://www.meetup.com/SeattleRailsBridge/events/59913072/"}> June 1-2, 2012
        \: Seattle at Substantial – organized by Renée De Voursney & Elise Worthy
      %li
        %a{:href => "http://www.meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women/events/63726142/"}> June 1-2, 2012
        \: Chicago at Groupon – organized by Ginny Hendry
      %li
        %a{:href => "http://www.sfruby.info/events/67298252/"}> June 8-9, 2012
        \: San Francisco at Airbnb – organized by Carina C. Zona & Bosco So
      %li June 30-31, 2012: San Mateo, CA at NexTag – organized by Mary Jenn & Bill DePhillips
      %li July 13-14: 2012: Berlin at Co.Up – organized by Renée De Voursney & supported by RailsGirls
      %li July 20-21, 2012: San Francisco at Code for America – organized by Michelle Lee, Ruthie BenDor, & Tina Lee
      %li July 27-28, 2012: Orlando at Envy Labs – organized by Aimee Simone & Sarah Sheehan
      %li July 27-28, 2012: Boulder at Microsoft Bing – organized by Wendy Norris
      %li
        August 17-18, 2012: Boston at Harvard Law School – organized by Dan Choi &
        %a{:href => "http://www.railsbridgeboston.org"} RailsBridge Boston
      %li August 17-18, 2012: Santa Monica at CarbonFive – organized by Tiffany Davis
      %li August 22-23, 2012: Madison, WI (Madison Ruby Conference) at Madison College – organized by Jenifer Remsik & Jim Remsik
      %li August 24-25, 2012: Minneapolis at :coderow – organized by RailsBridge MN
      %li August 24-25, 2012: San Francisco at Rackspace – “Ruby for Beginners” organized by Isa Herico & Carina C. Zona
      %li September 19, 2012: Boulder at Bing (Rocky Mountain Ruby Conference) – organized by Sara Snider & Nick Howard
      %li September 21-22, 2012: Santa Monica at Carbon Five – organized by Tiffany Davis
      %li September 28-29, 2012: San Francisco at Engine Yard – organized by Ines Sombra & Joe Jackson
      %li October 12-13, 2012: San Francisco at Scribd – organized by Tasha Drew, Karla Leibowitz, & Amy Lightholder
      %li
        %a{:href => "http://www.meetup.com/Boulder-Denver-Railsbridge/events/86997522/"}> October 26-27, 2012
        \: Boulder at Gnip – organized by Nick Howard
      %li
        %a{:href => "http://www.sfruby.info/events/87954222/"}> November 2-3, 2012
        \: San Francisco at GitHub – organized by Daniela Wellisz & Jessie Young
      %li
        %a{:href => "http://www.railsbridgeboston.org/"}> November 8-9, 2012
        \: Boston at MIT Stata Center – organized by
        %a{:href => "http://www.railsbridgeboston.org/"} RailsBridge Boston
      %li
        %a{:href => "http://www.sfruby.info/events/90071112/"}> November 16-17, 2012
        \: San Francisco at Vertical Response – “Intermediate Rails” organized by Lillie Chilen
      %li
        %a{:href => "http://railsbridgevictoria-estw.eventbrite.com/"}> November 30-December 1, 2012
        \: Victoria, BC at Mediacore – organized by Rebeca Dunn-Krahn
      %li
        %a{:href => "http://www.meetup.com/Boulder-Denver-Railsbridge/events/90403942/"}> November 30-December 1, 2012
        \: Denver at Galvanize – organized by Wendy Norris & Sara Snider
      %li
        %a{:href => "http://www.sfruby.info/events/94140352/"}> December 14-15, 2012
        \: San Francisco at Pivotal Labs – organized by Judy Tuan & Andrea Heilbronner Ängquist
      %li
        %a{:href => "http://www.meetup.com/SeattleRailsBridge/events/91658482/"}> December 14-15, 2012
        \: Seattle at Substantial – organized by Renée De Voursney & Cheri Allen
      %li
        %a{:href => "http://rubymke.org"}> January, 2013
        \: Milwaukee – “Introduction to Ruby” organized by Dave Strock & Milwaukee Ruby User Group
      %li
        %a{:href => "http://railsbridgenwfl-estw.eventbrite.com/"}> January 11-12, 2013
        \: Panama City at WorkHappy Coworking Space – organized by Beverly Nelson, Rye Mason, Allan Branch, and
        %a{:href => "http://railsbridgepc.github.com/"} RailsBridge Panama City
      %li
        %a{:href => "http://learn.intelligent.ly/railsbridge"}> January 18-19, 2013
        \: Boston area – organized by
        %a{:href => "http://www.railsbridgeboston.org/"} RailsBridge Boston
        \& Intelligent.ly
      %li
        %a{:href => "http://www.sfruby.info/events/97765412/"}> January 19, 2013
        \: San Francisco at CarbonFive- “Learn the Front End” organized by Mary Jenn & Sean Durham
      %li
        %a{:href => "http://www.sfruby.info/events/95923212/"}> January 25, 2013
        \: San Francisco at ThoughtWorks- “Intermediate Rails” organized by Bill DePhilips & Irene Haque
      %li
        %a{:href => "http://www.meetup.com/Boulder-Denver-Railsbridge/events/100597922/"}> February 1-2, 2013
        \: Denver – organized by Desi McAdam
      %li
        %a{:href => "http://www.quicket.co.za/events/1209-rubyfuza-2013/"}> February 6, 2013
        \: Cape Town, South Africa – organized by Renée De Voursney & Rubyfuza Conference
      %li
        %a{:href => "http://www.sfruby.info/events/99743792/"}> February 8, 2013
        \: San Francisco – organized by Tasha Drew & Bosco So
      %li
        %a{:href => "http://rubymke.org"}> February 10, 2013
        \: Milwaukee – organized by Dave Strock & Milwaukee Ruby User Group
      %li
        %a{:href => "http://code4lib.org/conference/2013/schedule"}> February 11, 2013
        \: Chicago at Code4Lib Conference – organized by Jason Ronallo & Mark Bussey
      %li
        %a{:href => "http://www.quicket.co.za/events/1209-rubyfuza-2013/"}> February 16, 2013
        \: Port Elizabeth, South Africa – organized by Renée De Voursney & Rubyfuza Conference
      %li
        %a{:href => "http://www.meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group/events/103985512/"}> February 21-22, 2013
        \: Burbank – organized by Tiffany Davis, Jen Diamond, & Anna Mendoza
      %li
        %a{:href => "http://railsbridgenorfolk.eventbrite.com/"}> February 22-23, 2013
        \: Norfolk, VA – organized by Ryan Castillo
      %li
        %a{:href => "http://www.railsbridgeboston.org/"}> Feb 22 (installfest) & March 2, 2013
        \: Boston at MIT Stata Center – organized by
        %a{:href => "http://www.railsbridgeboston.org/"} RailsBridge Boston
      %li
        %a{:href => "http://www.quicket.co.za/events/1209-rubyfuza-2013/"}> February 23, 2013
        \: Johannesburg, South Africa – organized by Renée De Voursney & Rubyfuza Conference
      %li
        %a{:href => "http://www.meetup.com/Boulder-Denver-Railsbridge/events/103886552/?a=ea1_grp&rv=ea1&_af_eid=103886552&_af=event"}> March 1-2, 2013
        \: Boulder at QuickLeft – organized by Desi McAdam, Sara Snider, & Nick Howard
      %li
        %a{:href => "http://railsbridgebend-estw.eventbrite.com/"}> March 5-6, 2013
        \: Bend, Oregon at Ruby on Ales conference – organized by Renée De Voursney
      %li
        %a{:href => "http://www.meetup.com/San-Diego-RailsBridge/"}> March 8-9, 2013
        \: San Diego at CoMerge – organized by Alex Boster
      %li
        %a{:href => "http://www.sfruby.info/events/104829002/"}> March 15-16, 2013
        \: San Francisco at WestEd – organized by Ayori Selassie & BlackFounders
      %li
        %a{:href => "http://www.meetup.com/silicon-valley-ruby/events/106648522/"}> March 22-23, 2013
        \: Sunnyvale at Outright – organized by Richa Avasthi
      %li
        %a{:href => "http://www.sfruby.info/events/109960702/"}> March 30, 2013
        \: San Francisco at ModCloth – “Learn the Front End” organized by Isa Herico & Renee Chu
      %li April 12-13, 2013: San Francisco at Tapjoy – organized by David Ladowitz and team
      %li
        %a{:href => "http://www.eventbrite.com/event/5267402944/estw"}> April 12-13, 2013
        \: Orlando at Envy Labs – organized by Aimee Simone & Sarah Sheehan
    %h2 Let's incorporate these writeups into this list somehow!
    %li
      June 2009 SF workshop
      %ul
        %li
          %a{:href => "http://www.sarahmei.com/blog/2009/05/04/my-drop-in-the-bucket/"} My drop in the bucket
        %li
          %a{:href => "http://www.ilen.org/2009/08/creating-a-self-organizing-environment/"} Creating a self-organizing environment
        %li
          %a{:href => "http://www.sarahmei.com/blog/2009/06/14/the-first-rails-workshop/"} The First Rails Workshop
        %li
          %a{:href => "http://www.ultrasaurus.com/sarahblog/2009/06/open-source-workshop/"} Open Source Workshop
        %li
          %a{:href => "http://www.sarahmei.com/blog/2009/06/20/post-workshop-hack-session-july-1st/"} Post-Workshop Hack Session July 1st
    %li
      August 2009 SF workshop
      %ul
        %li
          %a{:href => "http://www.ultrasaurus.com/sarahblog/2009/08/psychology-of-abundance/"} Psychology of Abundance
    %li
      October 2009 SF Workshop
      %ul
        %li
          %a{:href => "http://blogs.law.harvard.edu/genderandtech/2009/10/20/post-workshop-news/"} Post Workshop News
        %li
          %a{:href => "http://gregorowicz.blogspot.com/2009/10/teaching-at-ruby-on-rails-workshop-for.html"} Teaching at the Ruby on Rails Workshop for Women
        %li
          %a{:href => "http://www.ultrasaurus.com/sarahblog/2009/10/stone-soup-workshop/"} Stone Soup Workshop
    %li
      May 2010
      %ul
        %li
          %a{:href => "http://www.ultrasaurus.com/sarahblog/2010/03/amy-chen-and-melanie-archer/"} Recognizing Leadership