<% provide(:title, page_title(['About','Past Events'])) %>

<div class="row">
  <div class="span7">

    <h1>There have been so many workshops!</h1>
    <p><em>Let's figure out a better way to display this info!</em></p>

  </div>
  <div class="span4 offset1">

    <div class='feature-list'>
      <div class='feature clearfix feature-1'>
        <div class="feature-icon icon-3x icon-globe"></div>
        <h4>Finding a workshop to attend</h4>
        <ul>
          <li>There are RailsBridge workshops in over a dozen cities. Our <%= link_to "Chapters page", chapters_path %> can help you find a worskhop in your area. And if there isn't one planned, we can <%= link_to "help you set one up", organizing_path %>!</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="span12">

  <ol>
<li><a href="http://www.sfruby.info/events/10377288/">June 12-13 2009</a>: South San Francisco at OrangeLabs &#8211; organized by Sarah Mei &#038; Sarah Allen</li>
<li><a href="http://www.sfruby.info/events/10804417/?action=detail&#038;eventId=10804417">July 31-Aug 1 2009</a>: San Francisco at Pivotal Labs &#8211; organized by Sarah Mei &amp; Sarah Allen</li>
<li>September 26-27 2009: San Francisco at sfCube</li>
<li>October 3-4 2009: Oahu (Aloha on Rails)</li>
<li><a href="http://blogs.law.harvard.edu/genderandtech/ruby-on-rails-workshop-for-women/">October 16-17 2009</a>: Cambridge, MA at Berkman Center, Harvard University &#8211; Leana Leahy &#038; Mary Tolbert</li>
<li><a href="http://www.sfruby.info/events/12605445/?action=detail&#038;eventId=12605445">February 26-27 2010</a>: San Francisco at Microsoft &#8211; organized by Sarah Allen, Sarah Mei, &amp; Ilen Zazueta-Hall</li>
<li><a href="http://railsbridgenyc2011.eventbrite.com/">May 20-21, 2010</a>: New York City at Pace University &#8211; organized by Jen Lindner, Sarah Mei, Meghan Womack, &amp; Mike Dalessio</li>
<li><a href="http://www.sfruby.info/events/13358016/?action=detail&#038;eventId=13358016">May 21-22, 2010</a>: San Francisco at Pivotal Labs &#8211; organized by Amy Chen &#038; Melanie Archer</li>
<li><a href="http://www.sfruby.info/events/14701678/?action=detail&#038;eventId=14701678">September 10-11, 2010</a>: San Francisco at Pivotal Labs &#8211; organized by Sarah Mei &#038; Sarah Allen</li>
<li><a href="http://workshops.railsbridge.org/2011/03/riding-rails-in-south-america/">October, 2010</a>: Asunción, Paraguay at Universidad Católica de Asunción &#8211; <em>en Español</em> and organized by Carmen Díaz Echauri</li>
<li><a href="http://www.sfruby.info/events/14836042/">October 5-6, 2010</a>: Boulder (Mountainrb Conference)   Rails Quickstart Charity Workshop</li>
<li>October 22-23, 2010: San Francisco at Engine Yard</li>
<li><a href="http://www.sfruby.info/events/15493602/">December 10-11, 2010</a>: San Francisco at IGN Entertainment &#8211; organized by Amy Lightholder</li>
<li>February 4-5, 2011: San Francisco at Twitter &#8211; organized by Amy Chen</li>
<li>February 4-5, 2011: Chicago at Hashrocket &#8211; organized by Desi McAdam</li>
<li>March 11-12, 2011: Petaluma, CA at Enphase Energy &#8211; organized by Brenda Strech &amp; Ilen Zazueta-Hall</li>
<li>March 25-26, 2011: San Francisco at Pivotal Labs &#8211; organized by Amy Lightholder</li>
<li>April 8-9, 2011: San Francisco at ModCloth &#8211; organized by Megan Guering</li>
<li><a href="http://www.meetup.com/SeattleRailsBridge/events/16691509/">April 22-23, 2011</a>: Seattle at  Founder&#8217;s Co-op &#8211; organized by Elise Worthy</li>
<li>May 6-7, 2011: San Francisco at Pivotal Labs &#8211; organized by Raphael Lee &amp;  Andrea Angquist</li>
<li>May 6-7, 2011: New York City at Harvest &#8211; organized by Mimi Hui</li>
<li><a href="http://www.meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women/events/18549511/">June 3-4, 2011</a>: Chicago at Hashrocket &#8211; organized by Ginny Hendry</li>
<li>August 5-6, 2011: San Francisco at Kapor Foundation &#8211; <em>en Español</em> and organized by Carmen Díaz Echauri</li>
<li>August 13-14, 2011: San Francisco at Square &#8211; organized by Andrea Angquist, Walter Yu</li>
<li><a href="http://www.meetup.com/Mad-Railers/events/28214611/">August 17-18, 2011</a>: Madison, WI (Madison Ruby Conference) &#8211; organized by Desi McAdam, Stephen Anderson, &amp; Mad-Rails</li>
<li><a href="http://www.sfruby.info/events/29387411/">September 9-10, 2011</a>: San Francisco at Pivotal Labs &#8211; organized by Kelly Dunn, Sara Richardson</li>
<li><a href="http://www.meetup.com/SeattleRailsBridge/events/30622481/">September 16-17, 2011</a>: Seattle at Substantial &#8211; organized by Ren&eacute;e De Voursney &amp; Elise Worthy</li>
<li><a href="http://www.sfruby.info/events/33540222/">October 21-22 2011</a>: San Francisco at Engine Yard &#8211; organized by Andrea &#8220;Angquist &amp; Ines Sombra</li>
<li><a href="http://taller.rubyconfuruguay.org/about.html">November 5, 2011</a>: Montevideo, Uruguay &#8211; <em>en Español</em> and organized by Gabriela Rodriguez, Lucia Escanellas, Verónica Rebagliatte, and DevChix Uruguay</li>
<li>November 18-19, 2011: San Francisco at Google Ventures &#8211; organized by Greg Tomei &amp; Ren&eacute;e Chu</li>
<li>December 2-3, 2011: San Francisco at Pivotal Labs- organized by Sean Durham &amp; Ren&eacute;e Chu</li>
<li>January 13-14, 2012: San Francisco at Scribd &#8211; organized by Walter Yu &amp; Andrea Angquist</li>
<li><a href="http://www.sfruby.info/events/52502132/">February 25, 2012</a>: San Francisco at ModCloth &#8211; &#8220;Learn the Front End&#8221; organized by Rachel Myers &amp; friends</li>
<li>February 28-29, 2012: Bend, OR (Ruby on Ales Conference) &#8211; organized by Ren&eacute;e De Voursney</li>
<li>March 30-31, 2012: San Francisco at Pivotal Labs  &#8211; organized by Lillie Chilen &amp; Jessie Young</li>
<li>April 21, 2012: San Francisco at Twilio &#8211; &#8220;Learn the Front End&#8221; organized by Ren&eacute;e Chu</li>
<li>April 27-28, 2012: San Francisco at Scribd &#8211; organized by Carina C. Zona, Tina Lee, and Amy Lightholder</li>
<li>May 11-12, 2012: San Francisco at ThoughtWorks &#8211; organized by Mary Jenn and Rodrigo Vanegas</li>
<li>May 12-13, 2012: Singapore at New Context &#8211; organized by Desi McAdam</li>
<li><a href="http://www.eventbrite.com/event/3242290779">May 20-21, 2012</a>: Minneapolis at Guthrie Theater &#8211; organized by Nick Sieger, Sarah Allen, &amp; JRubyConf</li>
<li><a href="http://www.meetup.com/SeattleRailsBridge/events/59913072/">June 1-2, 2012</a>: Seattle at Substantial &#8211; organized by Ren&eacute;e De Voursney &amp; Elise Worthy</li>
<li><a href="http://www.meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women/events/63726142/">June 1-2, 2012</a>: Chicago at Groupon &#8211; organized by Ginny Hendry</li>
<li><a href="http://www.sfruby.info/events/67298252/">June 8-9, 2012</a>: San Francisco at Airbnb &#8211; organized by Carina C. Zona &amp; Bosco So</li>
<li>June 30-31, 2012: San Mateo, CA at NexTag &#8211; organized by Mary Jenn &amp; Bill DePhillips</li>
<li>July 13-14: 2012: Berlin at Co.Up &#8211; organized by Ren&eacute;e De Voursney &amp; supported by RailsGirls</li>
<li>July 20-21, 2012: San Francisco at Code for America &#8211; organized by Michelle Lee, Ruthie BenDor, &amp; Tina Lee</li>
<li>July 27-28, 2012: Orlando at Envy Labs &#8211; organized by Aimee Simone &amp; Sarah Sheehan</li>
<li>July 27-28, 2012: Boulder at Microsoft Bing &#8211; organized by Wendy Norris</li>
<li>August 17-18, 2012: Boston at Harvard Law School &#8211; organized by Dan Choi &amp; <a href="http://www.railsbridgeboston.org">RailsBridge Boston</a></li>
<li>August 17-18, 2012: Santa Monica at CarbonFive &#8211; organized by Tiffany Davis</li>
<li>August 22-23, 2012: Madison, WI (Madison Ruby Conference) at Madison College &#8211; organized by Jenifer Remsik &amp; Jim Remsik</li>
<li>August 24-25, 2012: Minneapolis at :coderow &#8211; organized by RailsBridge MN</li>
<li>August 24-25, 2012: San Francisco at Rackspace &#8211; &#8220;Ruby for Beginners&#8221; organized by Isa Herico &#038; Carina C. Zona</li>
<li>September 19, 2012: Boulder at Bing (Rocky Mountain Ruby Conference) &#8211; organized by Sara Snider &#038; Nick Howard</li>
<li>September 21-22, 2012: Santa Monica at Carbon Five &#8211; organized by Tiffany Davis</li>
<li>September 28-29, 2012: San Francisco at Engine Yard &#8211; organized by Ines Sombra &#038; Joe Jackson</li>
<li>October 12-13, 2012: San Francisco at Scribd &#8211; organized by Tasha Drew, Karla Leibowitz, &#038; Amy Lightholder</li>
<li><a href="http://www.meetup.com/Boulder-Denver-Railsbridge/events/86997522/">October 26-27, 2012</a>: Boulder at Gnip &#8211; organized by Nick Howard</li>
<li><a href="http://www.sfruby.info/events/87954222/">November 2-3, 2012</a>: San Francisco at GitHub &#8211; organized by Daniela Wellisz &#038; Jessie Young</li>
<li><a href="http://www.railsbridgeboston.org/">November 8-9, 2012</a>: Boston at MIT Stata Center &#8211; organized by <a href="http://www.railsbridgeboston.org/">RailsBridge Boston</a></li>
<li><a href="http://www.sfruby.info/events/90071112/">November 16-17, 2012</a>: San Francisco at Vertical Response &#8211; &#8220;Intermediate Rails&#8221; organized by Lillie Chilen
<li><a href="http://railsbridgevictoria-estw.eventbrite.com/">November 30-December 1, 2012</a>: Victoria, BC at Mediacore &#8211; organized by Rebeca Dunn-Krahn</li>
<li><a href="http://www.meetup.com/Boulder-Denver-Railsbridge/events/90403942/">November 30-December 1, 2012</a>: Denver at Galvanize &#8211; organized by Wendy Norris &#038; Sara Snider</li>
<li><a href="http://www.sfruby.info/events/94140352/">December 14-15, 2012</a>: San Francisco at Pivotal Labs &#8211; organized by Judy Tuan &#038; Andrea Heilbronner Ängquist</li>
<li><a href="http://www.meetup.com/SeattleRailsBridge/events/91658482/">December 14-15, 2012</a>: Seattle at Substantial &#8211; organized by Ren&eacute;e De Voursney &#038; Cheri Allen</li>
<li><a href="http://rubymke.org">January, 2013</a>: Milwaukee &#8211; &#8220;Introduction to Ruby&#8221; organized by Dave Strock &amp; Milwaukee Ruby User Group
<li><a href="http://railsbridgenwfl-estw.eventbrite.com/">January 11-12, 2013</a>: Panama City at WorkHappy Coworking Space &#8211; organized by Beverly Nelson, Rye Mason, Allan Branch, and <a href="http://railsbridgepc.github.com/">RailsBridge Panama City</a></li>
<li><a href="http://learn.intelligent.ly/railsbridge">January 18-19, 2013</a>: Boston area &#8211; organized by <a href="http://www.railsbridgeboston.org/">RailsBridge Boston</a> &#038; Intelligent.ly</li>
<li><a href="http://www.sfruby.info/events/97765412/">January 19, 2013</a>: San Francisco at CarbonFive- &#8220;Learn the Front End&#8221; organized by Mary Jenn &#038; Sean Durham</li>
<li><a href="http://www.sfruby.info/events/95923212/">January 25, 2013</a>: San Francisco at ThoughtWorks- &#8220;Intermediate Rails&#8221; organized by Bill DePhilips &amp; Irene Haque</a></li>
<li><a href="http://www.meetup.com/Boulder-Denver-Railsbridge/events/100597922/">February 1-2, 2013</a>: Denver &#8211; organized by Desi McAdam</li>
<li><a href="http://www.quicket.co.za/events/1209-rubyfuza-2013/">February 6, 2013</a>: Cape Town, South Africa &#8211; organized by Ren&eacute;e De Voursney &amp; Rubyfuza Conference</li>
<li><a href="http://www.sfruby.info/events/99743792/">February 8, 2013</a>: San Francisco &#8211; organized by Tasha Drew &amp; Bosco So</a></li>
<li><a href="http://rubymke.org">February 10, 2013</a>: Milwaukee &#8211; organized by Dave Strock &amp; Milwaukee Ruby User Group
<li><a href="http://code4lib.org/conference/2013/schedule">February 11, 2013</a>: Chicago at Code4Lib Conference &#8211; organized by Jason Ronallo &amp; Mark Bussey</li>
<li><a href="http://www.quicket.co.za/events/1209-rubyfuza-2013/">February 16, 2013</a>: Port Elizabeth, South Africa &#8211; organized by Ren&eacute;e De Voursney &amp; Rubyfuza Conference</li>
<li><a href="http://www.meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group/events/103985512/">February 21-22, 2013</a>: Burbank &#8211; organized by Tiffany Davis, Jen Diamond, &amp; Anna Mendoza</li>
<li><a href="http://railsbridgenorfolk.eventbrite.com/">February 22-23, 2013</a>: Norfolk, VA &#8211; organized by Ryan Castillo</li>
<li><a href="http://www.railsbridgeboston.org/">Feb 22 (installfest) &amp; March 2, 2013</a>: Boston at MIT Stata Center &#8211; organized by <a href="http://www.railsbridgeboston.org/">RailsBridge Boston</a></li>
<li><a href="http://www.quicket.co.za/events/1209-rubyfuza-2013/">February 23, 2013</a>: Johannesburg, South Africa &#8211; organized by Ren&eacute;e De Voursney &amp; Rubyfuza Conference</li>
<li><a href="http://www.meetup.com/Boulder-Denver-Railsbridge/events/103886552/?a=ea1_grp&#038;rv=ea1&#038;_af_eid=103886552&#038;_af=event">March 1-2, 2013</a>: Boulder at QuickLeft &#8211; organized by Desi McAdam, Sara Snider, &amp; Nick Howard</li>
<li><a href="http://railsbridgebend-estw.eventbrite.com/">March 5-6, 2013</a>: Bend, Oregon at Ruby on Ales conference &#8211; organized by Ren&eacute;e De Voursney</li>
<li><a href="http://www.meetup.com/San-Diego-RailsBridge/">March 8-9, 2013</a>: San Diego at CoMerge &#8211; organized by Alex Boster</li>
<li><a href="http://www.sfruby.info/events/104829002/">March 15-16, 2013</a>: San Francisco at WestEd &#8211; organized by Ayori Selassie &amp; BlackFounders</li>
<li><a href="http://www.meetup.com/silicon-valley-ruby/events/106648522/">March 22-23, 2013</a>: Sunnyvale at Outright &#8211; organized by Richa Avasthi</li>
<li><a href="http://www.sfruby.info/events/109960702/">March 30, 2013</a>: San Francisco at ModCloth &#8211; &#8220;Learn the Front End&#8221; organized by Isa Herico &amp; Renee Chu</li>
<li>April 12-13, 2013: San Francisco at Tapjoy &#8211; organized by David Ladowitz and team</li>
<li><a href="http://www.eventbrite.com/event/5267402944/estw">April 12-13, 2013</a>: Orlando at Envy Labs &#8211; organized by Aimee Simone &amp; Sarah Sheehan</li>
</ol>
<h2>Let's incorporate these writeups into this list somehow!</h2>
<li>June 2009 SF workshop
<ul>
<li><a href="http://www.sarahmei.com/blog/2009/05/04/my-drop-in-the-bucket/">My drop in the bucket</a></li>
<li><a href="http://www.ilen.org/2009/08/creating-a-self-organizing-environment/">Creating a self-organizing environment</a></li>
<li><a href="http://www.sarahmei.com/blog/2009/06/14/the-first-rails-workshop/">The First Rails Workshop</a></li>
<li><a href="http://www.ultrasaurus.com/sarahblog/2009/06/open-source-workshop/">Open Source Workshop</a></li>
<li><a href="http://www.sarahmei.com/blog/2009/06/20/post-workshop-hack-session-july-1st/">Post-Workshop Hack Session July 1st</a></li>
</ul>
</li>
<li>August 2009 SF workshop
<ul>
<li><a href="http://www.ultrasaurus.com/sarahblog/2009/08/psychology-of-abundance/">Psychology of Abundance</a></li>
</ul>
</li>
<li>October 2009 SF Workshop
<ul>
<li><a href="http://blogs.law.harvard.edu/genderandtech/2009/10/20/post-workshop-news/">Post Workshop News</a></li>
<li><a href="http://gregorowicz.blogspot.com/2009/10/teaching-at-ruby-on-rails-workshop-for.html">Teaching at the Ruby on Rails Workshop for Women</a></li>
<li><a href="http://www.ultrasaurus.com/sarahblog/2009/10/stone-soup-workshop/">Stone Soup Workshop</a></li>
</ul>
</li>
<li>May 2010
<ul>
<li><a href="http://www.ultrasaurus.com/sarahblog/2010/03/amy-chen-and-melanie-archer/">Recognizing Leadership</a></li>
</ul>
</li>
</ul>

  </div>
</div>
