<h1>We have other projects, too!</h1>

<p>We’ve got a lot of exciting projects in the pipeline. We’d like to continue to expand our geographic footprint, as well as expand our curriculum options to include JavaScript, iOS development, Clojure, and Git. We also have a number of other current projects.</p>

<h3>Bridge Foundry</h3>
<p>We’re in the process of creating a new umbrella organization called Bridge Foundry that RailsBridge can be underneath. Bridge Foundry will be a project of the 501c(3) School Factory, an organization that creates value-creating communities and spaces that transform education. </p>

<h3>Bridge Troll</h3>
<p>We’ve found that it’s tough to aggregate all the data from workshops all over the world when everyone is using a different registration system. We also want to make it easy to organize a workshop, and one of the hardest parts can be communicating with students and volunteers and getting them divided into small groups by skill level.<p>

<p>To solve both of these problems, we’re building an open source event management app named Bridge Troll. Want to help? Join the mailing list and introduce yourself!</p>
<h5>Places to find Bridge Troll!</h5>
<p>GitHub: <a href="https://github.com/railsbridge/bridge_troll">https://github.com/railsbridge/bridge_troll</a></p>
<p>Our Tracker project: <a href="https://www.pivotaltracker.com/projects/608983">https://www.pivotaltracker.com/projects/608983</a></p>
<p>Our mailing list: <a href="https://groups.google.com/forum/?fromgroups#!forum/bridge-troll">https://groups.google.com/forum/?fromgroups#!forum/bridge-troll</a></p>

<h3>Open Workshop Summit</h3>
<p>Our weekly Sunday morning conference calls are great for moving along internal RailsBridge business, but it’s time for us to meet publicly with our sponsors, volunteers, and students and brainstorm what the future of RailsBridge looks like. In person!</p>

<h3>Longitudinal Study</h3>
<p>We’d like to know more concretely the number of RailsBridge students who come back for another workshop, become volunteers, and end up in better professional situations in part due to RailsBridge. We have anecdotal evidence of RailsBridge workshop participants becoming professional developers, but there’s a lot more to learn about our efforts.</p>
