- provide(:title, page_title(['Projects']))

%h1 We have other projects, too.

%p We’ve got a lot of exciting projects in the pipeline. We’d like to continue to expand our geographic footprint, as well as expand our curriculum options to include JavaScript, iOS development, Clojure, and Git. We also have a number of other current projects.

.row.js-match-height
  .col-md-8
    .feature.js-match-height-item
      .feature-icon.fa.fa-wrench
      %h4 Bridge Troll
      %p
        We want to make it easy to organize a workshop, and one of the hardest parts can be communicating with students and volunteers and getting them divided into small groups by skill level. So we've built (and are continuing to improve) an open source event management app named Bridge Troll.
      %p Want to help? Join the mailing list and introduce yourself!
      %p
        Pull requests #{ link_to "accepted via GitHub", "https://github.com/railsbridge/bridge_troll"}
      %p
        We organize ourselves #{ link_to "using Pivotal Tracker", "https://www.pivotaltracker.com/projects/608983" }
      %p
        And we discuss things #{ link_to "on our mailing list", "https://groups.google.com/forum/?fromgroups#!forum/bridge-troll"}
  .col-md-4
    .feature.js-match-height-item
      .feature-icon.fa.fa-umbrella
      %h4 Bridge Foundry
      %p We created a new umbrella organization called Bridge Foundry, so that we could help ourselves and like-minded organizations more easily manage the money parts of improving tech. 
      %p Bridge Foundry is a project of the 501c(3) School Factory, an organization that creates and supports communities and spaces that transform education.

.row.js-match-height
  .col-md-6
    .feature.js-match-height-item
      .feature-icon.fa.fa-comments
      %h4 Open Workshop Summit
      %p RailsBridge has weekly Sunday morning conference calls to move along internal RailsBridge business, but it’s time for us to meet publicly with our sponsors, volunteers, and students and brainstorm what the future of RailsBridge looks like. In person!
  .col-md-6
    .feature.js-match-height-item
      .feature-icon.fa.fa-star
      %h4 Longitudinal Study
      %p We’d like to know more concretely the number of RailsBridge students who come back for another workshop, become volunteers, and end up in better professional situations in part due to RailsBridge. We have anecdotal evidence of RailsBridge workshop participants becoming professional developers, but there’s a lot more to learn about our efforts.
