- provide(:title, page_title(['Projects']))

%h1 We have other projects, too.
%p We’ve got a lot of exciting projects in the pipeline. We’d like to continue to expand our geographic footprint, as well as expand our curriculum options to include JavaScript, iOS development, Clojure, and Git. We also have a number of other current projects.

.row-fluid.features-grid.big-icons
  .span8
    .feature.clearfix.feature-1
      .feature-icon.icon-3x.icon-wrench
      %h4 Bridge Troll
      %p
        We want to make it easy to organize a workshop, and one of the hardest parts can be communicating with students and volunteers and getting them divided into small groups by skill level. So we've built (and are continuing to improve) an open source event management app named Bridge Troll.
      %p Want to help? Join the mailing list and introduce yourself!
      %p
        Pull requests #{ link_to "accepted via GitHub", "https://github.com/railsbridge/bridge_troll"}
      %p
        We organize ourselves #{ link_to "using Pivotal Tracker", "https://www.pivotaltracker.com/projects/608983" }
      %p
        And we discuss things #{ link_to "on our mailing list", "https://groups.google.com/forum/?fromgroups#!forum/bridge-troll"}
  .span4
    .feature.clearfix
      .feature-icon.icon-3x.icon-umbrella
      %h4 Bridge Foundry
      %p We’re in the process of creating a new umbrella organization called Bridge Foundry that RailsBridge can be underneath. Bridge Foundry will be a project of the 501c(3) School Factory, an organization that creates value-creating communities and spaces that transform education.
.row-fluid.features-grid.big-icons.short-project-features
  .span6
    .feature.clearfix.feature-1
      .feature-icon.icon-3x.icon-comments
      %h4 Open Workshop Summit
      %p RailsBridge has weekly Sunday morning conference calls to move along internal RailsBridge business, but it’s time for us to meet publicly with our sponsors, volunteers, and students and brainstorm what the future of RailsBridge looks like. In person!
  .span6
    .feature.clearfix
      .feature-icon.icon-3x.icon-star
      %h4 Longitudinal Study
      %p We’d like to know more concretely the number of RailsBridge students who come back for another workshop, become volunteers, and end up in better professional situations in part due to RailsBridge. We have anecdotal evidence of RailsBridge workshop participants becoming professional developers, but there’s a lot more to learn about our efforts.