- provide(:title, page_title(['Teach or TA']))

%h1 Want to teach technologies?
%h2 Amazing!

%h2 Things you should do as a teacher or TA

.row-fluid.js-match-height
  .span4
    .feature
      .feature-icon.icon-3x.icon-book
      %h4 Read the curriculum!
      %p
        Most everything you need to teach can be found at
        = succeed "." do
          %a{:href => "http://docs.railsbridge.org"} docs.railsbridge.org
        All the curricula and the installfest instructions are there.
      %p
        See something that could be better? Submit a pull request. The whole shebang is in RailsBridge's #{link_to "Docs repo on GitHub", "https://github.com/railsbridge/docs"}.
  .span4
    .feature
      .feature-icon.icon-3x.icon-star
      %h4 Teacher Training
      %p
        You should go to a teacher training! They are often held within a few weeks of a workshop. You can run through the
        %a{:href => "http://docs.railsbridge.org/workshop/more_teacher_training"} teacher training slide deck
        to give you some things to think about.
  .span4
    = render 'mailing_list'

%h2 Teacher and TA FAQ

.indented-content
  %h4 Should I be a teacher or a TA?
  %p If this is your first workshop, you should probably TA. Otherwise, it depends! We often find that the most technically advanced volunteer in the room can make a great TA, while the person who can most enthusiastically move the class makes a great teacher.
  %p Sample class configurations:
  %ul
    %li 7 students, 1 teacher, 2 TAs: teacher advances slides and generally moves the class forward, TAs help students who get stuck and explain specific topics as requested by the teacher.
    %li 4 students, 2 teachers: teachers take turns leading different sections of the curriculum.
    %li 12 students, 1 teacher, 3 TAs: teacher leads the class for most of the day, swapping out with a TA for certain sections. Teacher gets super tired around 3pm and a TA takes over at the break.

  %h4 Do I know enough Rails to teach?
  %p Maybe! Probably! Sometimes the best teachers are people who have most recently processed the material themselves, and can really relate to their students. Having multiple teachers/TAs in a room means that even if you get something wrong, you can look to the other volunteers to help clarify/correct.
  %p We feel especially warm and fuzzy about former RailsBridge students coming back as TAs or teachers, so if you're in that bucket, please do!

  %h4 I'm a dude. Can I teach?
  %p Yep! Our goal isn't just to teach underrespresented folks tech skills. We also want to help our volunteers challenge their own preconceptions of what a programmer is! So, everyone wins! We are always trying to recruit students into teaching roles, so please help by encouraging your students to come back and volunteer.

  %h4 I think this part of the curriculum is weird.
  %p Good question? But really, please #{ link_to "fork the curriculum", "https://github.com/railsbridge/docs" } and make a pull request with what you think would be better. This whole thing is open source and a 100% volunteer effort, so your contributions are very, very valued.

  %h4 Do I need to come both days?
  %p No, you can RSVP for either or both. Just remember to come!

  %h4 Why should I do this?
  %p You should volunteer at a workshop if:
  %ul
    %li You're passionate about teaching technology
    %li You think it's weird that people in tech don't actually reflect the people in the world
    %li You're excited about teaching the RailsBridge curriculum

  %p And for good measure, you <em>shouldn't</em> volunteer at a workshop if:
  %ul
    %li You desire more attention, and think that students will provide that
    %li You (just) want to show off your awesome tech skills
    %li You're only in it for the free pizza
    %li You want to find your one true love. (You can't ask anyone out at RailsBridge. It's a professional event, and we want all students to feel totally safe.)
