- provide(:title, page_title(['Advice for Teach and TAs']))

%h1 Advice for Teacher and TAs
%h2 Teaching Beginners

%p You'll probably be working with people who may not even be familiar with using their terminal (or had their very first taste of using the terminal at the InstallFest the previous night) and won't understand intuitively why certain commands are worded the way they are.  When you're teaching beginners, the goal is not necessarily to get through the curriculum, but rather to provide a good grounding in what programming is and how it works — and to get them excited about the possibilities programming offers.
%p Think ahead of time about how you would explain the following:

.indented-content
  %ul
    %li What's a program? Operating system?
    %li
      What's a framework?
      %ul
        %li something that makes it faster to build an application because it contains most of the things you would commonly write
    %li
      Workflow - how do you write a program?
      %ul
        %li Learn about customer's requirements and translate into "stories"
        %li Pick a story that seems doable and start writing code that does it
        %li Show your work to the customer, get feedback
        %li Based on feedback, adjust stories (customer's "up front" requirements vs. changes once they see something working)
        %li Once story is finished, go back to "pick a story"... keep going until you're done! (This is an example of looping!)
    %li
      Basic programming structures - or, how to do the "start writing code" step
      %ul
        %li variables - words that hold information
        %li types of information - text, numbers, collections
        %li operators - doing stuff with variables
        %li loops - doing the same action a bunch of times
        %li printing - to the screen, or to a file
    %li
      Writing a simple program
      %ul
        %li opening the editor
        %li opening the command line
        %li adding two numbers together, storing in a variable
        %li printing variable to the screen
        %li save and run

%h2 Teaching Experienced Programmers

.indented-content
  %ul
    %li At the beginning of your class, make sure to find out what your student's technical backgrounds are, and make parallels ("This is like X in Java") when you can.
    %li Use the curriculum as a jumping off point. If the students want to dig into a particular aspect of Rails or Ruby, go for it!
