<% provide(:title, page_title(['Helping','Teach or TA'])) %>

<h1>Want to teach technologies?</h1>

<h3>Teacher and TA FAQ</h3>
<h4>Should I be a teacher or a TA?</h4>
<p>If this is your first workshop, you should probably TA. Otherwise, it depends! We often find that the most technically advanced volunteer in the room can make a great TA, while the person who can most enthusiastically move the class makes a great teacher. 

<p>Sample class configurations:</p>
<ul>
  <li>7 students, 1 teacher, 2 TAs: teacher advances slides and generally moves the class forward, TAs help students who get stuck and explain specific topics as requested by the teacher.</li>
  <li>4 students, 2 teachers: teachers take turns leading different sections of the curriculum.</li>
  <li>12 students, 1 teacher, 3 TAs: teacher leads the class for most of the day, swapping out with a TA for certain sections. Teacher gets super tired around 3pm and a TA takes over at the break.</li>
</ul>

<h4>Do I know enough Rails to teach?</h4>
<p>Maybe! Probably! Sometimes the best teachers are people who have most recently processed the material themselves, and can really relate to their students. Having multiple teachers/TAs in a room means that even if you get something wrong, you can look to the other volunteers to help clarify/correct.</p>
<p>We feel especially warm and fuzzy about former RailsBridge students coming back as TAs or teachers, so if you're in that bucket, please do!</p>

<h4>I'm a dude. Can I teach?</h4>
<p>Yep! Our goal isn't just to teach underrespresented folks tech skills. We also want to help our volunteers challenge their own preconceptions of what a programmer is! So, everyone wins! We are always trying to recruit students into teaching roles, so please help by encouraging your students to come back and volunteer.</p>

<h4>I think this part of the curriculum is weird.</h4>
<p>Good question? But really, please <a href="https://github.com/railsbridge/docs">fork the curriculum</a> and make a pull request with what you think would be better. This whole thing is open source and a 100% volunteer effort, so your contributions are very, very valued.</p>

<h4>Do I need to come both days?</h4>
<p>No, you can RSVP for either or both. Just remember to come!</p>

<h4>Why should I do this?</h4>
<p>You should volunteer at a workshop if:</p>
<ul>
  <li>You're passionate about teaching technology</li>
  <li>You think it's weird that people in tech don't actually reflect the people in the world</li>
  <li>You're excited about teaching the RailsBridge curriculum</li>
</ul>

<p>And for good measure, you shouldn't volunteer at a workshop if:</p>
<ul>
  <li>You desire more attention, and think that students will provide that</li>
  <li>You (just) want to show off your awesome tech skills</li>
  <li>You're only in it for the free pizza</li>
</ul>

<h3>Advice on Teaching Beginners</h3>
<p>You'll probably be working with people who may not even be familiar with using their terminal (or had their very first taste of using the terminal at the InstallFest the previos night) and won't understand intuitively why certain commands are worded the way they are.  When you're teaching beginners, the goal is not necessarily to get through the curriculum, but rather to provide a good grounding in what programming is and how it works — and to get them excited about the possibilities programming offers.</p>
<p>Think ahead of time about how you would explain the following:</p>
<ul>
<li>What's a program? Operating system?</li>
<li>What's a framework?
<ul>
<li>something that makes it faster to build an application because it contains most of the things you would commonly write</li>
</ul>
</li>
<li>Workflow - how do you write a program?
<ul>
<li>Learn about customer's requirements and translate into "stories"</li>
<li>Pick a story that seems doable and start writing code that does it</li>
<li>Show your work to the customer, get feedback</li>
<li>Based on feedback, adjust stories (customer's "up front" requirements vs. changes once they see something working)</li>
<li>Once story is finished, go back to "pick a story"... keep going until you're done! (This is an example of looping!)</li>
</ul>
</li>
<li>Basic programming structures - or, how to do the "start writing code" step
<ul>
<li>variables - words that hold information</li>
<li>types of information - text, numbers, collections</li>
<li>operators - doing stuff with variables</li>
<li>loops - doing the same action a bunch of times</li>
<li>printing - to the screen, or to a file</li>
</ul>
</li>
<li>Writing a simple program
<ul>
<li>opening the editor</li>
<li>opening the command line</li>
<li>adding two numbers together, storing in a variable</li>
<li>printing variable to the screen</li>
<li>save and run</li>
</ul>
</li>
</ul>

<h3>Advice on Teaching Experienced Programmers</h3>
<ul>
  <li>At the beginning of your class, make sure to find out what your student's technical backgrounds are, and make parallels ("This is like X in Java") when you can.</li>
  <li>Use the curriculum as a jumping off point. If the students want to dig into a particular aspect of Rails or Ruby, go for it!</li>
</ul>

<div class="row">
  <div class="span4">

    <div class='feature-list'>
      <div class='feature clearfix feature-1'>
        <div class="feature-icon icon-3x icon-book"></div>
        <h4>Important Links</h4>
        <p>Most everything you need to teach can be found at <a href="http://docs.railsbridge.org">docs.railsbridge.org</a>. All the curricula and the installfest instructions are there.
        <p>See something that could be better? Submit a pull request -- the whole shebang is in RailsBridge's Docs repo on GitHub: <a href="https://github.com/railsbridge/docs">https://github.com/railsbridge/docs</a></p>
      </div>
    </div>

  </div>
  <div class="span4">

    <div class='feature-list'>
      <div class='feature clearfix feature-1'>
        <div class="feature-icon icon-3x icon-book"></div>
        <h4>Teacher Training</h4>
        <p>You should go to a teacher training! They are often held within a few weeks of a workshop. You can run through the <a href="http://docs.railsbridge.org/workshop/more_teacher_training">teacher training slide deck</a> to give you some things to think about.</p>
      </div>
    </div>

  </div>
  <div class="span4">

    <%= render 'mailing_list' %>

  </div>
</div>
