<% provide(:title, page_title(['About','Team'])) %>

<h1>People Make Things Happen!</h1>
<p>RailsBridge is an <em>extremely</em> non-heirarchical organization. Since we needed to forum a legal corporation to take donations from companies, though, we do have a board that makes decisions (with lots of input from the community, of course). The three-person RailsBridge board is Sarah Mei and Sarah Allen, co-founders, and Austin Putman, treasurer.</p>
<p>Here is just a handful of the people who have made RailsBridge successful!</p>

<div class="row">
  <div class="span6">
    <h3>Strategizers</h3>
    <p>Big picture thinkers & doers</p>
    <ul> 
      <li>Rachel Myers</li>
      <li>Lillie Chilen</li>
      <li>Sarah Mei</li>
      <li>Sarah Allen</li>
      <li>Austin Putman</li>
    </ul>

    <h3>Curriculumites</h3>
    <p>Authors and lead maintainers of various curricula</p>
    <ul>
      <li>Alex Chaffee</li>
      <li>Steven! Ragnarok</li>
      <li>Travis Grathwell</li>
      <li>Emily Nakashima</li>
      <li>Lillie Chilen</li>
      <li>Carina C. Zona</li>
    </ul>
  </div>

  <div class="span6">
    <h3>Chefs d'Outreach</h3>
    <p>Bringing RailsBridge to new people & places</p>
    <ul>
      <li>Renee Devoursney</li>
    </ul>

    <h3>Meta-Organizers</h3>
    <p>Making workshops happen over & over & over</p>
    <ul>
      <li>Rachel Myers & Luke Morris (SF)</li>
      <li>Daniel Choi & Brendan Kemp (Boston)</li>
    </ul>

    <h3>Major Contributers, Emeriti</h3>
    <p>Folks without whom RailsBridge would be less awesome today</p>
    <ul>
      <li>Ilen Zazueta-Hall</li>
      <li>Judy Tuan</li>
      <li>Carina C. Zona</li>
      <li>Mary Jenn</li>
    </ul>
  </div>
</div>
