<% provide(:title, page_title(['About','Team'])) %>

<div class="row">
  <div class="span12">
    <h1>People Make Things Happen!</h1>
    <p>RailsBridge is an <em>extremely</em> non-heirarchical organization. Since we needed to forum a legal corporation to take donations from  companies, though, we do have a board that makes decisions (with lots of input from the community, of course). The three-person RailsBridge board is Sarah Mei and Sarah Allen, co-founders, and Austin Putman, treasurer.</p>
    <p>Here is just a handful of the people who have made RailsBridge successful!</p>
  </div>
</div>

<div class="row">
  <div class="span4">

    <div class='feature-list horizontal-feature big-icons'>
      <div class='feature clearfix'>
        <div class="feature-icon icon-4x icon-puzzle-piece"></div>
        <h4>Strategizers</h4>
        <p>Big picture thinkers &amp; doers</p>
        <ul>
          <li>Rachel Myers</li>
          <li>Lillie Chilen</li>
          <li>Sarah Mei</li>
          <li>Sarah Allen</li>
          <li>Austin Putman</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="span4">

    <div class='feature-list horizontal-feature big-icons'>
      <div class='feature clearfix'>
        <div class="feature-icon icon-4x icon-book"></div>
        <h4>Curriculumites</h4>
        <p>Authors and lead maintainers of various curricula</p>
        <ul>
          <li>Alex Chaffee</li>
          <li>Steven! Ragnarok</li>
          <li>Travis Grathwell</li>
          <li>Emily Nakashima</li>
          <li>Lillie Chilen</li>
          <li>Carina C. Zona</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="span4">

    <div class='feature-list horizontal-feature big-icons'>
      <div class='feature clearfix feature-1'>
        <div class="feature-icon icon-4x icon-code"></div>
        <h4>Meta-Organizers</h4>
        <p>Making workshops happen over &amp; over &amp; over</p>
        <ul>
          <li>Rachel Myers &amp; Luke Morris (SF)</li>
          <li>Daniel Choi &amp; Brendan Kemp (Boston)</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="span4">

    <div class='feature-list horizontal-feature big-icons'>
      <div class='feature clearfix feature-1'>
        <div class="feature-icon icon-4x icon-globe"></div>
        <h4>Chefs d'Outreach</h4>
        <p>Bringing RailsBridge to new people &amp; places</p>
        <ul>
          <li>Renee Devoursney</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="span4">

    <div class='feature-list horizontal-feature big-icons'>
      <div class='feature clearfix feature-1'>
        <div class="feature-icon icon-4x icon-heart"></div>
        <h4>Major Contributers, Emeriti</h4>
        <p>Folks without whom RailsBridge would be less awesome today</p>
        <ul>
          <li>Ilen Zazueta-Hall</li>
          <li>Judy Tuan</li>
          <li>Carina C. Zona</li>
          <li>Mary Jenn</li>
        </ul>
      </div>
    </div>

  </div>
</div>