%h4 Background
%ul
  %li
    %a{:href => "http://railsapps.github.io/what-is-ruby-rails.html", :target => "_blank"} What is Ruby on Rails?
    — in-depth primer introduces basic concepts and explains why Ruby on Rails is popular
%h4 Rails Tutorials
%ul
  %li
    %a{:href => "http://rubyonrailstutor.github.io"} Complete Rails app, sequenced code & free screen casts.
    Sequenced, structured with twitter oauth, haml and zurb foundation, designed to be more approachable to beginners by a previous-beginner.
  %li
    %a{:href => "http://learn-rails.com/learn-ruby-on-rails.html"} Learn Ruby on Rails,
    a book for beginners by Daniel Kehoe,
    %a{:href => "http://learn-rails.com/railsbridge"} free for RailsBridge participants.
  %li
    Michael Hartl's
    %a{:href => "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book"} Ruby on Rails Tutorial
    — a highly recommend next step after a RailsBridge workshop to cement and further your understanding of Rails.
  %li
    Our
    %a{:href => "http://docs.railsbridge.org/curriculum/"} Ruby on Rails
    curriculum. If you've done it already, try recreating Suggestotron without using the scaffold command!
  %li
    %a{:href => "https://tutorials.railsapps.org/rails-tutorial", :target => "_blank"} Rails Tutorials
    — recommendations for a Rails tutorial to suit your skill level and learning style
%h4 References and Guides
%ul
  %li
    %a{:href => "http://guides.rubyonrails.org/"} RailsGuides
    — well-written and organized guides to Rails
  %li
    #{ link_to "RailsCasts", "http://railscasts.com/" }
    \&mdash;
    short, clear, and excellent screencasts by Ryan Bates
%h4 Other collections of resources:
%ul
  %li
    Our
    %a{:href => "http://pinterest.com/pvnrtmol/ruby-and-rails-resources/"} Ruby and Rails Resources
    Pinterest board — includes books, online tutorials, Meetup groups, and more
