- provide(:title, page_title(['Page Not Found']))

%h1 Not all those who wander are lost.
%h3 Though perhaps what you are really looking for is in one of the links above or below...

.container
  = render 'sitemap'

.error-code.hide-on-mobile 404