- if events.present?
  - span_count = 12 / events_per_row
  - events.each_slice(events_per_row) do |event_row|
    .row.js-match-height
      - event_row.each do |event|
        %div{ class: "col-md-#{span_count}" }
          = render 'shared/event', event: event
