You can either make a
#{ link_to "pull request", "https://github.com/railsbridge/railsbridge_dot_org", class: 'inline-link highlight' }
#{ defined?(cautious) ? '(if you know how)' : '' } or
#{ link_to "create an issue", "https://github.com/railsbridge/railsbridge_dot_org/issues/new", class: 'inline-link highlight' }#{ defined?(cautious) ? ' (no technical knowledge required)' : '' }.
