You can either make a
#{ link_to "pull request", "https://github.com/railsbridge/railsbridge_dot_org" }
#{ defined?(cautious) ? '(if you know how)' : '' } or
#{ link_to "create an issue", "https://github.com/railsbridge/railsbridge_dot_org/issues/new" }#{ defined?(cautious) ? ' (no technical knowledge required)' : '' }.