// this is for all those feature boxes all over the site

// feature lists

.feature {
  @include clearfix();
  position: relative;
  border: 1px solid $gray;
  border-top-width: 1px;
  margin: 5px 0 20px 0;
  padding: 20px 20px 10px 20px;
  .feature-icon {
    float: left;
    margin: -7px 10px 0 -7px;
  }
  h4 {
    color: $black;
    border-bottom: 1px solid $grayLight;
    padding-bottom: 5px;
    margin: 0 0 10px 50px;
  }
  p {
    font-size: 1.05em;
  }
  ul {
    margin: 0;
    li {
      margin-bottom: 5px;
      list-style: none;
    }
  }
}

.feature-no-icon {
  h4 {
    margin-left: 0px;
  }
}

// add back in bulleted lists on help overview

.help {
  .feature {
    ul {
      padding-top: 10px;
      li {
        list-style-type: disc;
        margin-left: 25px;
      }
    }
  }
}

