// Footer

.footer {
  color: $white;
  background-color: $burntSienna;
  padding: 40px 0;
  margin-top: 30px;
  h2 {
    font-family: 'TisaSansWebPro', serif;
    margin: 0 0 20px 0;
  }
  p {
    @include fontSize(16px);
    font-family: 'TisaSansWebPro', serif;
    line-height: 1.3;
    color: $white;
    margin-bottom: 20px;
    &.footer-email {
      text-align: right;
    }
  }
  a {
    color: $white;
    &:hover {
      color: $merlot;
    }
  }

  .highlight {
    color: $merlot;
  }

  ul.footer-icons {
    height: 50px;
    padding-bottom: 20px;
    li {
      float: right;
      padding-right: 10px;
      a {
        @include fontSize(40px);
        color: white;
        &:hover {
          color: $merlot;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .footer {
    margin: 10px 0 0 0;
    padding: 20px 0;
    p {
      @include fontSize(15px);
      margin-bottom: 10px;
      &.footer-email {
        text-align: left;
      }
    }
    ul.footer-icons {
      height: 30px;
      padding: 0;
      margin: 20px 0;
      li {
        float: left;
      }
    }
  }
}
