// footer
.footer {
  .container {
    padding: 20px;
  }
  color: $white;
  background: $grayDark;
  padding: 20px 0 30px 0;
  margin-top: 30px;
  a {
    color: lighten($blue, 30%);
    &:hover {
      color: darken($blue, 30%);
    }
  }
  p {
    font-size: 17px;
    line-height: 21px;
    color: $white;
    margin-top: 20px;
  }
  a.font-icon {
    font-size: 2.5em;
  }
  .email {
    display: block;
    float: right;
  }
  h2 {
    margin: 0 0 10px 0;
  }
  ul.footer-icons {
    margin-bottom: 10px;
    height: 30px;
    list-style: none;
    li {
      float: right;
      padding-right: 10px;
      a {
        color: white;
        &:hover {
          color: lighten($blue, 30%);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 0 -20px;
    p {
      font-size: 15px;
      line-height: 17px;
    }
    ul.footer-icons {
      margin: 20px 0;
      li {
        float: left;
      }
    }
    .email {
      float: none;
      margin-top: 20px;
    }
  }
}