@media (min-width: 769px) {
  // Flattening page elements
  .header, .navbar, .navbar-static-top  {
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  .navbar-static-top .container {
    width: 940px;
  }

  .header {
    height: 60px;
    background: url(navbar_texture.gif);
    margin-bottom: 30px;
    h1 {
      float: left;
      font: bold 28px 'Aleo',Arial,sans-serif;
      color: $white;
      margin: 18px 0 0 0;
    }
    ul.nav {
      float: right;
      margin: 20px 0 0 0;
      li {
        position: relative;
        height: 40px;
        ul {
          display: none;
        }
        &:hover {
          ul {
            display: block;
          }
        }
        &:last-child a {
          padding-right: 0;
        }
        a {
          display: block;
          font: normal 14px 'Aleo',Arial,sans-serif;
          color: $white;
          text-transform: uppercase;
          padding: 5px 22px;
          text-shadow: none;
          &:hover, &:active, &:focus {
            color: lighten($blue, 20%);
          }
        }
      }
      ul.dropdown-menu {
        margin: -10px 0 0 20px;
        border-radius: 0;
        padding: 20px 0 0 0;
        li a {
          color: $black;
          &:hover, &:active, &:focus {
            color: $blue;
            background: none;
          }
        }
        li.is-selected a {
          color: $blue;
        }
      }
      li {
        &.external a {
          border-left: 1px solid white;
        }
        &.is-selected ul {
          display: none;
        }
        &.is-selected a {
          cursor: default;
          color: $warmGray;
          span {
            border-bottom: 10px solid $grayMediumLight;
          }
        }
        &#help span {
          left: 30px;
        }
      }
    }
  }

  // header is-selected arrow
  .header-nav {
    .nav-link span {
      width: 0;
      height: 0;
      position: absolute; bottom: 0px; left: 35px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    .is-selected span {
      border-bottom: 10px solid $blue;
    }
  }
}

// Mobile menu

@media (max-width: 768px) {
  .header {
    h1 {
      margin: 10px 0 0 14px;
    }
    background: url(navbar_texture.gif);
    a.logo {
      color: white;
    }
  }
  .navbar {
    .nav {
      margin: 10px 0;
      li {
        margin: 5px 14px;
        a {
          padding: 0;
          color: white;
          font-size: 20px;
          text-shadow: none;
          &:focus, &:hover {
            color: $grayMediumLight;
          }
        }
      }
    }
  }
}
