.header {
  background-color: $burntSienna;

  .logo {
    background: transparent image-url('landing-page/railsbridge_logo.png') center center no-repeat;
    background-image: -webkit-linear-gradient(transparent, transparent), image-url('landing-page/railsbridge_logo.svg');
    background-image: linear-gradient(transparent, transparent), image-url('landing-page/railsbridge_logo.svg');
    display: inline-block;
    height: 44px;
    margin-top: 10px;
    outline: none;
    width: 200px;
  }
}

@media (min-width: $screen-sm-min) {
  // Flattening page elements
  .header, .navbar, .navbar-static-top  {
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  .navbar-static-top .container {
    width: 970px;
  }

  .header {
    font-size: 0;
    height: 60px;
    margin-bottom: 30px;

    ul.nav {
      float: right;
      margin: 20px 0 0 0;
      li {
        position: relative;
        height: 40px;
        ul {
          display: none;
        }
        &:hover {
          ul {
            display: block;
          }
        }
        &:last-child a {
          padding-right: 0;
        }
        a {
          display: block;
          @include fontSize(16px);
          color: $white;
          font-family: 'TisaSansWebPro-Bold', serif;
          padding: 5px 22px;
          text-shadow: none;
          &:hover, &:active, &:focus {
            color: $merlot;
            background-color: transparent;
          }
        }
      }
      ul.dropdown-menu {
        @include fontSize(16px);
        margin: -10px 0 0 20px;
        border-radius: 0;
        padding: 10px 0 0 0;
        li a {
          color: $black;
          font-family: 'TisaSansWebPro', serif;
          &:hover, &:active, &:focus {
            color: $merlot;
            background: none;
          }
        }
        li.is-selected a {
          color: $blue;
        }
      }
      li {
        &.external a {
          border-left: 1px solid white;
        }
        &.is-selected ul {
          display: none;
        }
        &.is-selected a {
          cursor: default;
          color: $warmGray;
          span {
            border-bottom: 10px solid $grayMediumLight;
          }
        }
        &#help span {
          left: 30px;
        }
      }
    }
  }

  // header is-selected arrow
  .header-nav {
    .nav-link span {
      width: 0;
      height: 0;
      position: absolute; bottom: 0px; left: 35px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    .is-selected span {
      border-bottom: 10px solid darken($burntSienna, 10%);
    }
  }
}

// Mobile menu

@media (max-width: $screen-xs-max) {
  .header {
    font-family: 'TisaSansWebPro', serif;
    .container {
      padding: 0;
    }
    .logo {
      margin-left: 15px;
    }
  }
  .navbar {
    margin-bottom: 0;
    .nav {
      margin: 0 0 10px 0;
      li {
        display: inline-block;
        margin: 5px 14px;
        a {
          padding: 0;
          color: white;
          @include fontSize(20px);
          text-shadow: none;
          &:focus, &:hover {
            background-color: transparent;
            color: $merlot;
          }
        }
      }
    }
  }
}
