.subnav {
  min-height: 10px;
  background: $blue;
  margin: -30px 0 30px 0;
  .subnav-center {
    float: left;
    width: 100%;
    position: relative;
  }
  ul {
    float: left;
    position: relative;
    left: 50%;
    text-align: center;
    margin: 0;
    li {
      float: left;
      position: relative;
      right: 50%;
      @include fontSize(14px);
      font-family: 'AleoBold', Arial, sans-serif;
      line-height: 40px;
      margin-right: 30px;
      a {
        color: lighten($blue, 40%);
        display: block;
        &:hover {
          color: $white;
        }
      }
      &.is-selected a {
        color: $white;
        cursor: default;
      }
    }
  }
}

// Work around for FireFox font rendering
@-moz-document url-prefix() {
  .subnav ul li {
    font-family: 'Aleo', Arial, sans-serif;
  }
}

// Mobile subnav

@media (max-width: $screen-xs-max) {
  .subnav {
    background: none;
    margin: 10px 0 0 0;
    padding: 0;
    ul {
      text-align: left;
      left: 0;
      margin: 0;
      li {
        left: 0;
        background: $grayLight;
        display: inline-block;
        line-height: 20px;
        @include fontSize(15px);
        font-family: 'Aleo', Arial, sans-serif;
        padding: 5px;
        margin: 5px;
        a {
          color: $black;
        }
        &.is-selected {
          background: $blue;
          a {
            color: $white;
          }
        }
      }
    }
  }
}
