// footer
.footer {
  color: $white;
  background: $grayDark;
  padding: 20px 0 30px 0;
  margin-top: 30px;
  a {
    color: $white;
    line-height: 40px;
  }
  p {
    color: $white;
    margin-top: 0px;
  }
  a.font-icon {
    font-size: 2.5em;
  }
  ul.footer-links {
    list-style: none;
    li {
      float: left;
      padding-right: 10px;
      .left-border {
        padding-left: 20px;
        margin-left: 10px;
      }
    a {
      &:hover {
        color: lighten($blue, 30%);
      }
    }
    }
  }
  p.work-in-progress {
    font-style: italic;
    color: rgb(19, 223, 231);
    margin-top: 20px;
  }
}
