// footer
footer {
  margin: 0 -20px;
  .container {
    padding: 20px;
  }
  color: $white;
  background: $grayDark;
  padding: 20px 0 30px 0;
  margin-top: 30px;
  a {
    color: $white;
    line-height: 40px;
  }
  p {
    color: $white;
    margin-top: 0px;
  }
  a.font-icon {
    font-size: 2.5em;
  }
  .email {
    display: block;
    float: right;
  }
  ul.footer-icons {
    height: 30px;
    list-style: none;
    li {
      float: right;
      padding-right: 10px;
      .left-border {
        padding-left: 20px;
        margin-left: 10px;
      }
      a {
        &:hover {
          color: lighten($blue, 30%);
        }
      }
    }
  }
  p.work-in-progress {
    font-style: italic;
    color: rgb(19, 223, 231);
    margin-top: 10px;
  }
  h2 {
    margin: 0;
  }
}

@media (max-width: 768px) {
  footer {
    ul.footer-icons {
      margin: 20px 0;
      li {
        float: left;
      }
    }
    .email {
      float: none;
      margin-top: 20px;
    }
  }
}