// side nav
.side-nav {
  margin-bottom: 20px;
  // box-shadow: 2px 2px $grayLight;
  border: 1px solid $gray;
  .side-nav-links {
    display: none;
  }
  .selected {
    display: block;
  }
  a {
    color: $black;
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      text-align: center;
      line-height: 18px;
      padding: 12px 20px;
      &.selected {
        background: $blue;
        &:hover {
          background: $blue;
        }
        a {
          color: $white;
          cursor: default;
        }
      }
      &:hover {
        background: lighten($blue, 30%);
        color: $white;
        a {
          color: $white;
        }
      }
    }
  }
}
