// events listing
.events {
  .event {
    float: left;
    width: 300px;
    margin: 0 1.17% 20px 1.16%;
    .event-date {
      color: $grayDark
    }
    .event-location {
      color: $grayDark
    }
    .event-host, .event-venue {
      color: $blue;
    }
  }
  .feature {
    background: $white;
    color: $grayDark;
    position: relative;
    .event-cta {
      position: absolute;
      bottom: 20px;
      left: 42px;
      display: block;
      width: 200px;
      line-height: 30px;
      background: $blue;
      color: white;
      text-align: center;
      margin: 20px auto 0 auto;
      &:hover {
        background-color: lighten($blue, 10%);
      }
    }
  }
  h4 {
    margin-left: 0;
  }
  a {
    color: $blue;
    &:hover {
      color: darken($blue, 10%);
    }
    span {
      padding-right: 5px;
    }
  }
  .event-help {
    background: $grayMegaLight;
    border: 1px solid $grayLight;
    h4 {
      border-bottom: none;
    }
  }
}

// homepage events listing customizations
.home-events {
  .event {
    float: left;
    width: 248px;
    min-height: 215px;
    margin: 0 3% 20px 0;
  }
  .event-cta {
    position: absolute;
    bottom: 20px;
    left: 42px;
  }
}

// upcoming events listing customizations
.upcoming-events {
  .events {
    .feature {
      min-height: 220px;
      .event-cta {
        left: 21px;
        bottom: 20px;
      }
    }
  }
}

.past-events {
  th.dates {
    width: 23%;
  }
}