// Feature Boxes

.feature {
  @include feature;
}

// Event Feature Boxes

.event {
  @include feature;
  color: $grayDark;
  h4 {
    color: $grayDarkest;
    @include fontSize(16px);
    font-family: 'OpenSansBold', Arial, sans-serif;
  }
  .event-date, .event-location {
    color: $grayDark
  }
  a.event-venue {
    color: $blue;
    &:hover {
      color: darken($blue, 10%);
    }
    span {
      padding-right: 5px;
    }
  }
  ul {
    padding-bottom: 50px;
  }
  .event-cta {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 30px;
    a {
      display: block;
      width: 200px;
      line-height: 30px;
      text-align: center;
      color: white;
      background: $blue;
      margin: 0 auto;
      &:hover {
        background-color: lighten($blue, 10%);
      }
    }
  }
}

// Work around for FireFox font rendering
@-moz-document url-prefix() {
  .event h4 {
    font-family: 'OpenSansSemibold', Arial, sans-serif;
  }
}

// Event Help Feature Box

.event-help {
  @include feature;
  background: $grayMegaLight;
  border: 1px solid $grayLight;
  h4 {
    border-bottom: none;
  }
  ul {
    padding-bottom: 10px;
  }
}
