// homepage customizations

.big-floaty-box {
  color: $white;
  font-weight: bold;
  background: $grayMedium;
  padding: 30px;
  margin-bottom: 40px;
  box-shadow: 3px 3px 5px lighten($grayMedium, 30%);
  h2 {
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
  }
  p {
    color: $white;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.home-twitter {
  h3 {
    margin-bottom: 15px;
  }
}