// Home
@media (min-width: $screen-sm-min) {
  .home-header {
    margin: -30px 0 30px 0;
    position: relative;
    overflow: hidden;
    .home-background {
      position: absolute;
      z-index: 1;
      background: asset_url("landing-page/door.jpg");
      background-size: cover;
      width: 100%;
      margin-top: -10px;
      height: 440px;
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
      filter: asset_url('landing-page/blur.svg#blur');
      filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    }
    .big-floaty-box {
      z-index: 2;
      position: relative;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.7);
      padding: 20px;
      width: 700px;
      margin: 120px auto 120px auto;
      h1 {
        font-family: 'OpenSansBold', Arial, sans-serif;
        @include fontSize(30px);
        text-align: center;
        margin-top: 0;
        padding-top: 0;
      }
      p {
        color: $black;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

// Work around for FireFox font rendering
@-moz-document url-prefix() {
  .big-floaty-box h1 {
    font-family: 'OpenSansSemibold', Arial, sans-serif;
  }
}

.home-twitter {
  h3 {
    margin-bottom: 15px;
  }
}
