// homepage customizations
.home-twitter {
  padding-right: 20px;
  h3 {
    margin-left: 0px;
    margin-bottom: 13px;
  }
}

.home-headlines {
  h1 {
    text-align: center;
  }
}

.home-subhead {
  h2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .home-headlines {
    display: none;
  }
}