// Custom 404, 500 and Site Map

.logistics .content {
  position: relative;
  padding-bottom: 40px;
  h3 {
    margin-bottom: 20px;
  }
  .error-code {
    z-index: -99;
    position: absolute;
    bottom: -40px;
    right: 20px;
    @include fontSize(250px);
    line-height: 1;
    font-family: AleoItalic, Arial, sans-serif;
    font-weight: bold;
    color: $grayMegaLight;
  }
  ul.sitemap {
    float: left;
    margin: 0 80px 0 0;
    li {
      margin:0 0 10px 0px;
    }
  }
}

#error_500 .content {
  padding: 40px 0;
  .error-code {
    bottom: -100px;
  }
}
