// feature lists

.feature {
  border: 1px solid $gray;
  border-top-width: 1px;
  margin-top: 5px;
  padding: 20px;
  .feature-icon {
    float: left;
    margin: -7px 10px 0 -7px;
  }
  h4 {
    color: $black;
    border-bottom: 1px solid $grayLight;
    padding-bottom: 5px;
    margin: 0 0 10px 50px;
  }
  p {
    font-size: 1.05em;
  }
  ul {
    margin: 0;
    li {
      margin-bottom: 5px;
      list-style: none;
    }
  }
}

.features-grid {
  margin-bottom: 10px;
  margin-right: 20px;
}

.medium-features {
  .feature {
    min-height: 300px;
  }
}

.short-features {
  .feature {
    min-height: 230px;
  }
}

.feature-standalone {
  float: left;
  width: 300px;
}