// feature lists
.feature {  }
.feature-list { margin-bottom: 10px; margin-right: 20px; }
.feature-list p { font-size: 1.05em; }
.feature-list .feature { border: 1px solid $gray; border-top-width: 1px; margin-top: 5px; padding: 20px; }
.feature-list h4 { border-bottom: 1px solid $grayLight; margin-left: 50px; padding-bottom: 5px; margin-bottom: 10px; }
.feature-list ul { margin-left: 50px; margin-bottom: 0px; }
.feature-list li { margin-bottom: 5px; }
.feature-icon { float: left;  }


.horizontal-feature .feature-icon { float: left; margin: -7px 10px 0 -7px; opacity: .7; }
.horizontal-feature .feature { min-height: 230px; margin-bottom: 20px; }
.horizontal-feature h4 { padding-bottom: 5px; margin: 0 0 10px 25px; }
.horizontal-feature ul { margin-left: 0px;  }
.big-icons h4 { margin-left: 50px; }

.feature-standalone { float: left; width: 300px; }
