.ways-to-help {
  .feature {
    min-height: 190px;
  }
}

.help {
  .feature {
    ul {
      padding-top: 10px;
      li {
        list-style-type: disc;
        margin-left: 25px;
      }
    }
  }
}

.spaced-help-content {
  h4 {
    margin-top: 30px;
  }
}

// Sponsors
.sponsors {
  h2 {
    font-family: OpenSansExtraBold;
    margin: 60px 0 20px 0;
  }
}

.logos img         { padding: 20px; }
.big-logos img     { height: 125px; }
.smaller-logos img { height: 60px; }
.medium-logos img  { height: 80px; }