.ways-to-help {
  .span6 {
    margin: 10px 8px 10px 0px;
  }
  .feature-list {
    margin: 0;
  }
  .feature {
    min-height: 200px;
  }
}


// Sponsors
.sponsors {
  h2 {
    font-family: OpenSansExtraBold;
    margin: 35px 0 20px 0;
  }
}

.logos img         { padding: 20px; }
.big-logos img     { height: 125px; }
.smaller-logos img { height: 60px; }
.medium-logos img  { height: 80px; }