// responsive layouts
@media (min-width: 768px) {
  .container {
    width: 940px;
  }
}

a {
  color: $purple;
  &:hover {
    color: lighten($purple, 30%);
    text-decoration: none;
  }
}

hr {
  height: 1px;
  background: $grayLight;
  border: none;
  margin: 0 0 20px 0;
}

ul, ul li {
  list-style: none;
}

.hide {
  display: none;
}
