// Responsive Tweaks

@media (min-width: $screen-sm-min) {
  .container {
    width: 970px;
  }
}

@media (max-width: $screen-xs-max) {
  .hide-on-mobile {
    display: none;
  }
}

// Site Wide

html {
  font-size: 16px;
}

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

.nav {
  margin-left: 0;
  margin-bottom: 20px;
}

.float-right {
  float: right;
  padding-right: 0;
}

.float-left {
  float: left;
  padding-left: 0;
}

img {
  padding: 0 15px;
}

.jumbotron {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.jumbotron p {
  font-size: inherit;
}

.img-responsive {
  display: inline-block;
}

@media (max-width: $screen-xs-max) {
  .img-responsive {
    padding: 10px 0;
  }

  .js-match-height-item {
    height: auto !important;
  }
}

hr {
  height: 1px;
  background: $grayLight;
  border: none;
  margin: 0 0 20px 0;
}

ul, ul li {
  list-style: none;
}

ul.bulleted {
  li {
    list-style-type: square;
    margin: 0 0 10px 15px;
  }
  ul {
    margin-top: 10px;
    li {
      list-style-type: disc;
    }
  }
}

.indented-content {
  h4 {
    margin-top: 30px;
  }
  p {
    padding: 10px 20px 0px 20px;
  }
}
