// colors
$red:           #DB2225;
$orange:        #EF731F;
$purple:        #6C266F;
$blue:          #2493B8;
$green:         #639239;
$yellow:        #FFC40D;
$white:         #ffffff;
$black:         #333333;
$burntSienna:   #EB6852;
$tallPoppy:     #B3282D;
$merlot:        #831A27;

$gray:            #dfdfdf;
$grayLight:       #e9e9e9;
$grayMegaLight:   #f1f1f1;
$grayMedium:      #8f99a0;
$grayMediumLight: #a8a8a8;
$grayDark:        #767676;
$grayDarkest:     #333333;
$warmGray:        #f8f8f8;

$tempFirebrick: #8e2323;
$tempBlue:      #3887be;
$tempGray:      #394e5a;
$tempMint:      #E0F8E0;
