.fa-heart { color: $red; }
.fa-phone { color: $red; }
.fa-money { color: $green; }
.fa-asterisk { color: $yellow; }
.fa-comments { color: $purple; }
.fa-bullhorn { color: $purple; }
.fa-thumbs-up { color: $purple; }
.fa-puzzle-piece { color: $purple; }
.fa-question-circle { color: $orange; }
.fa-eye { color: $green; }
.fa-cogs { color: $orange; }
.fa-envelope { color: $orange; }
.fa-globe { color: $green; }
.fa-book { color: $blue; }
.fa-rocket { color: $blue; }
.fa-umbrella { color: $blue; }
.fa-star { color: $yellow; }
.fa-bolt { color: $yellow; }
.fa-flask { color: $blue; }
