.icon-heart { color: red; }
.icon-phone { color: $red; }
.icon-money { color: green; }
.icon-asterisk { color: $yellow; }
.icon-comments { color: $purple; }
.icon-bullhorn { color: $purple; }
.icon-thumbs-up { color: $purple; }
.icon-puzzle-piece { color: $purple; }
.icon-question-sign { color: $orange; }
.icon-eye-open { color: $orange; }
.icon-cogs { color: $orange; }
.icon-envelope { color: $orange; }
.icon-globe { color: $orange; }
.icon-book { color: $blue; }
.icon-rocket { color: $blue; }
.icon-umbrella { color: $blue; }
.icon-star { color: $yellow; }
.icon-bolt { color: $yellow; }
.icon-beaker { color: $blue; }