// Stately United States Fonts
// 
// Each state is a glyph within the font. Each state is positioned and sized relative to the the rest of the states, 
// so that when each character is stacked on top of one another, it creates a full map. The pertinent characters are 
// uppercase A-Z and lowercase a-z with lowercase y generating the District of Columbia and lowercase z generating a 
// full US map. For modern browsers ligatures are available and a state's abbreviation is its ligature. For example, 
// "va" generates the glyph of the state of Virginia and 'dc' the District of Columbia. Additionally, the ligature 
// "usa" produces a character of the full US map.
// 
// More information at https://github.com/intridea/stately

$map_width: 900px; /* width and font size must match */

.stately {
  width: $map_width;
  font: normal normal $map_width "stately-webfont";
  line-height: 100%;
  font-size-adjust: none;
  color: #f0f0f0;
  -webkit-text-rendering: optimizeLegibility;
     -moz-text-rendering: optimizeLegibility;
      -ms-text-rendering: optimizeLegibility;
       -o-text-rendering: optimizeLegibility;
          text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1";
   -ms-font-feature-settings: "liga" 1;
   -ms-font-feature-settings: "liga", "dlig";
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background: $white;
  border-radius: 0;
  height: 500px;
  li {
    float: left;
    margin: -20% 0 0 -100%;
    position: relative;
    left: 101%;
    width: 100%;
    cursor: default;
    -webkit-transition: all 1s ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
