// Typography

body, p, ol, ul, blockquote, pre, code, input, select, textarea {
  color: $grayDarkest;
  @include fontSize(16px);
  line-height: 1.5;
  font-family: 'Aleo', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: 'Aleo', Arial, sans-serif; line-height: 1.2; }
h5, h6                 { font-family: 'AleoBold', Arial, sans-serif; }
h1                     { @include fontSize(42px); font-family: 'AleoLight', Arial, sans-serif; margin-bottom: 20px; }
h2                     { @include fontSize(26px); margin-bottom: 15px; }
h3                     { @include fontSize(20px); }
h4                     { @include fontSize(18px); }
h5                     { @include fontSize(16px); }
h6                     { @include fontSize(14px); }

// Work around for FireFox font rendering
@-moz-document url-prefix() {
  h1, h2, h3, h4 {
    font-family: 'AleoLight', Arial, sans-serif; }
  h5, h6 {
    font-family: 'Aleo', Arial, sans-serif;
  }
}

p + h2 {
  padding-top: 15px;
}

.gray-underline {
  border-bottom: 1px solid $gray;
  padding-bottom: 10px;
  margin: 20px 0;
}

a {
  color: $purple;
  &:hover {
    color: lighten($purple, 30%);
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  h1 {
    @include fontSize(26px);
    line-height: 1;
    margin-bottom: 10px;
  }
  h2 {
    @include fontSize(22px);
    line-height: 1;
  }
}
