// responsive layouts
@media (min-width: 768px) {
  .container {
    width: 940px;
  }
}

// universal
html      { overflow-y: scroll; }
section   { overflow: auto; }
textarea  { resize: vertical; }
.center   { text-align: center; }
a         { color: $purple }
a:hover   { color: lighten($purple, 30%); text-decoration: none; }
hr        { margin: 0px 0px 20px; border: 0px; height: 1px; background: $grayLight; }
