@import "twitter/bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$grayLight: #e3e3e3;
@mixin box_sizing { -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box; }

/* universal */
html      { overflow-y: scroll; }
section   { overflow: auto; }
textarea  { resize: vertical; }
.center   { text-align: center; }

/* typography * /
p, ol, ul, blockquote, pre, code { font-size: 1em; line-height: 1.5em; margin-bottom: 1.5em; }
p                                { font-size: 1.1em; line-height: 1.36em; }
h1, h2, h3, h4, h5, h6           { font-weight: bold; }
h1                               { font-size: 2em; line-height: 0.75em; margin-bottom: 0.75em; }
h2                               { font-size: 1.75em; line-height: 0.86em; margin-bottom: 0.86em; }
h3                               { font-size: 1.50em; line-height: 1.0em; margin-bottom: 1.0em; }
h4                               { font-size: 1.25em; line-height: 1.2em; margin-bottom: 1.2em; }
h5                               { font-size: 1.0em; line-height: 1.5em; margin-bottom: 1.5em; }
h6                               { font-size: .75em; line-height: 2em; margin-bottom: 2em; }

/* footer */
.footer    { border-top: 1px solid #e3e3e3; margin-top: 30px; padding-top: 20px; } 

/* nav bar */
ul.nav li.dropdown:hover ul.dropdown-menu { display: block; }
a.menu:after, .dropdown-toggle:after      { content: none; }
.navbar .dropdown-menu                    { margin-top: 0px; }

/* Sponsor images */
.logos img         { padding: 20px; }
.big-logos img     { height: 125px; }
.smaller-logos img { height: 60px; }
.medium-logos img  { height: 80px; }


/* Version Two Styles */

a.logo { display: block; float: left; width: 170px; line-height: 50px; text-align: center;
         margin: 10px 0px 10px 35px; background: white; border: 2px dotted $grayMediumLight; }

.header ul.nav    { height: 70px; float: right; padding-right: 35px; }
.header ul.nav li { line-height: 50px; font-weight: bold; }

ul.breadcrumb   { background: none; padding-left: 0px; }

ul.sidenav           { background: $grayLight; }
ul.sidenav li.active { background: white; }

.left-border { border-left: 1px solid $grayMediumLight; }







