// Individual Page Styles

// Sandbox for messing around with sidebars and enhanced content

// homepage customizations
.home-twitter {
  padding-right: 20px;
  h3 {
    margin-left: 0px;
    margin-bottom: 13px;
  }
}

// chapters

#chapters {
  h2 {
    border-bottom: 1px solid $gray;
    padding-bottom: 15px;
    margin-top: 20px;
  }
  .chapter-box {
    float: left;
    width: 240px;
    height: 100px;
    border: 1px solid $gray;
    padding: 20px;
    margin: 5px 10px 10px 0;
    ul {
      margin: 0;
      list-style: none;
    }
  }
}
