

// Individual Page Styles

// Sponsors
.sponsors h2       { margin-top: 25px; font-weight: bold; }
.logos img         { padding: 20px; }
.big-logos img     { height: 125px; }
.smaller-logos img { height: 60px; }
.medium-logos img  { height: 80px; }

// Sandbox for messing around with sidebars and enhanced content

// feature lists
.feature {  }
.feature-list { margin-bottom: 10px; margin-right: 20px; }
.feature-list p { font-size: 1.05em; }
.feature-list .feature { border: 1px solid $gray; border-top-width: 1px; margin-top: 5px; padding: 20px; }
.feature-list h4 { color: $black; border-bottom: 1px solid $grayLight; margin-left: 50px; padding-bottom: 5px; margin-bottom: 10px; }
.feature-list ul { margin-left: 50px; margin-bottom: 0px; }
.feature-list li { margin-bottom: 5px; }
.feature-icon { float: left;  }
.horizontal-feature .feature-icon { float: left; margin: -7px 10px 0 -7px; opacity: .7; }
.horizontal-feature .feature { min-height: 230px; margin-bottom: 20px; }
.horizontal-feature h4 { padding-bottom: 5px; margin: 0 0 10px 25px; }
.horizontal-feature ul { margin-left: 0px;  }
.big-icons h4 { margin-left: 50px; }

.feature-standalone { float: left; width: 300px; }

// homepage customizations
.home-twitter { padding-right: 20px; }
.home-twitter h3 { margin-left: 0px; margin-bottom: 13px; }

// chapters
#chapters h2         { border-bottom: 1px solid $gray; padding-bottom: 15px; margin-top: 20px; }
#chapters .list-item {
  float: left;
  width: 240px;
  height: 100px;
  border: 1px solid $gray;
  padding: 20px;
  margin: 5px 10px 10px 0;
  ul {
    margin: 0;
  }
}
