// mixins, variables, etc.
$grayMediumLight: #eaeaea;
$gray: #dfdfdf;
$grayLight: #e9e9e9;
$grayDark: #767676;
@mixin box_sizing { -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box; }

// colors
$red: #DB2225;
$orange: #EF731F;
$purple: #6C266F;
$blue: #2493B8;
$green: #639239;
$black: #333333;

$sg_red: #DB2225;
$sg_orange: #EF731F;
$sg_purple: #6C266F;
$sg_blue: #2493B8;
$sg_green: #639239;
$sg_black: #333;


$gs_darkgray: #333;
$gs_gray: #666;
$gs_lightgray: #999;
$gs_lightestgray: #ccc;
$gs_firebrick: #8e2323;

$new_blue: #3887be;
$new_gray: #394e5a;


$greenMint: #E0F8E0;

// universal
html      { overflow-y: scroll; }
section   { overflow: auto; }
textarea  { resize: vertical; }
.center   { text-align: center; }
a         { color: $sg_purple }
a:hover   { color: lighten($sg_purple, 30%); text-decoration: none; }
hr        { margin: 0px 0px 20px; border: 0px; height: 1px; background: $grayLight; }

// typography
p, ol, ul, blockquote, pre, code { font: 1.1em/1.6667em Gibson-Regular, Arial; margin: 0; padding: 0; margin-bottom: 1.5em; }
h1, h2, h3, h4, h5, h6           { font-weight: normal; font-family:'AleoLight',Arial,sans-serif; margin: 0; padding: 0; }
h5, h6                           { font-weight:bold; }
h1                               { font-size: 2em; line-height: 0.75em; margin-bottom: 0.75em; }
h2                               { font-size: 1.75em; line-height: 0.86em; margin-bottom: 0.86em; }
h3                               { font-size: 1.50em; line-height: 1.0em; margin-bottom: 1.0em; }
h4                               { font-size: 1.25em; line-height: 1.2em; margin-bottom: 1.2em; }
h5                               { font-size: 1.0em; line-height: 1.5em; margin-bottom: 1.5em; }
h6                               { font-size: .75em; line-height: 2em; margin-bottom: 2em; }
em                               { font-style: italic; }
strong                           { font-weight: bold; }

// Style Guide
p, ol, ul, blockquote, pre, code { font: 15px/167% 'AleoLight',Arial,sans-serif; color: #333; }



// Page Elements
// Header -> Breadcrumbs -> Side Nav - Content -> Footer

// Flattening page elements
.header, .navbar, .navbar-static-top  {
  border: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; 
  -moz-transition: none; -webkit-transition: none;padding: 0; margin: 0;
}

// .header navbar navbar-static-top -> container -> a svg circle - header-nav nav || nav-right -> li (selected) -> a - span
.header                { height: 68px; background: white; }
.header a.logo         { position: relative; float: left; display: block; margin: 11px 10px 0 35px; }
.header .logo img      { float: left; }
.header h1             { font: bold 28px/28px 'Opensans',Arial,sans-serif; color: $gs_lightgray; margin: 8px 0 0 50px; }
.header svg            { position: absolute; }
.header circle         { stroke: #fff; stroke-width: 2; fill: $gs_lightgray; }
.header ul.nav         { float: right; margin: 17px 0 0 0; }
.header li             { position: relative; height: 50px; }
.header li a           { display: block; font: normal 15px/15px 'Opensans',Arial,sans-serif; color: $gs_lightgray;
                         text-transform: uppercase; padding: 0 7px; }
.header li.external a  { background: #f8f8f8; border-left: 1px solid white; }
.header ul.nav a       { color: $gs_lightgray; }
.header ul.nav li.selected a {  }


// header top nav arrow
.header-nav span            { width: 0; height: 0; position: absolute; bottom: -1px; left: 25px;
                              border-left: 13px solid transparent; border-right: 13px solid transparent; border-bottom: 13px solid white; }
.header-nav #volunteer span { left: 45px; }
.header-nav .alive span     { border-bottom: 10px solid $gs_lightgray; opacity: .6; border-bottom: 10px solid $gs_lightgray; }
.header-nav .selected span  { border-bottom: 10px solid $gs_lightgray; border-bottom: 10px solid red; }
.header-nav .selected.alive span { opacity: 1; }


// .top-nav -> .container -> ul.topnav #learning-sub-nav #about-sub-nav #helping-sub-nav -> li.selected a

.top-nav                   { background: $gs_lightgray; height: 40px; text-align: right; opacity: .6; }
.top-nav .top-nav-links    { display: none; float: right; margin-right: 35px; }
.top-nav .selected         { display: block; }
.top-nav .alive            { display: block; }
.top-nav ul                { list-style: none; margin-left: 30px;  }
.top-nav ul li             { float:left; font-family: 'Opensans',Arial,sans-serif; padding: 10px 20px; }
.top-nav ul li a           { color: $black;  }
.top-nav ul li.selected a  { color: $black; cursor: default; }
.top-nav-links             { margin-top: -10px; padding-top: 10px; }

// various and sundry
.left-border       { border-left: 1px solid $grayMediumLight; margin-left: 10px; padding-left: 10px; }
.image-placeholder { display: block; width: 170px; height: 50px; line-height: 50px; text-align: center;
                     background: white; border: 2px dotted $grayMediumLight; }
.deemphasize       { color: #8f99a0; }
.icon-heart        { color: red; }
.icon-money        { color: green; }
// .breadcrumbs -> a span.divider
.breadcrumbs           { font: 14px/50px 'AleoLight',Arial,sans-serif; color: #333; padding-left: 5px; }
.breadcrumbs a         { color: #333; }
.breadcrumbs a:hover   { color: #333; }
.breadcrumbs .divider  { padding: 0 5px; }

// side bar and main content
.content               { margin-top: 20px; margin-top: 0; }
.side-bar              { float: left; width: 165px; margin-right: 20px; margin-top: 5px; }
.contentx               { float: right; width: 750px; margin-top: 22px; }
.content h1            { font-size: 3em; margin-bottom: 20px; }
.content hr            { border: none; height: 1px; color: $grayLight; background: $grayLight; }

// .side-nav -> ul.side-nav-links (selected) -> li (selected) -> a
.side-nav                   { margin-bottom: 20px; box-shadow: 1px 1px 3px #999; }
.side-nav .side-nav-links   { display: none; }
.side-nav .selected         { display: block; }
.side-nav ul                { list-style: none; margin: 0; }
.side-nav ul li             { text-align: center; line-height: 18px; padding: 12px 20px;  }
.side-nav a                 { color: #333; }
.side-nav ul li.selected    { background: $sg_blue;  }
.side-nav ul li.selected:hover { background: $sg_blue; }
.side-nav ul li:hover       { background: lighten($sg_blue, 30%); color: #fff; }
.side-nav ul li:hover a     { color: #fff; }
.side-nav ul li.selected a  { color: #fff; cursor: default; }

.test-containerx { border: 1px solid yellow; }
.test-containerx { background: url('/assets/railsbridge.png') -30px -60px; }
.head-containerx { background: url('/assets/railsbridge.png') -30px 0px; }

// various and sundry
.left-border       { border-left: 1px solid $grayMediumLight; margin-left: 10px; padding-left: 10px; }
.image-placeholder { display: block; width: 170px; height: 50px; line-height: 50px; text-align: center; 
                     background: white; border: 2px dotted $grayMediumLight; }
.clear             { clear: both; }
.deemphasize       { color: #8f99a0; }
.icon-heart        { color: red; }
.icon-money        { color: green; }

// footer
.footer                    { color: #fff; background: $grayDark; padding: 20px 0 30px 0; margin-top: 30px; }
.footer a                  { color: #fff; line-height: 40px; }
.footer p                  { color: #fff; margin-top: 0px; }
.footer a.font-icon        { font-size: 2.5em; }
.footer ul.footer-links    { list-style: none; }
.footer ul.footer-links li { float: left; padding-right: 10px; }
.footer ul.footer-links li.left-border { padding-left: 20px; margin-left: 10px; }

p.work-in-progress { font-style: italic; color: rgb(19, 223, 231); margin-top: 20px; }

// Individual Page Styles

// Home
.home { padding: 40px 0 20px 0; }
.home-callout { float: left; width: 200px; min-height: 200px; margin: -20px 0px 60px 0px; padding: 35px; border: 1px solid $new_gray; background: white; }
.home-callout h3, .home-callout h4 { font: bold 16px 'Opensans',Arial,sans-serif; color: $new_gray; }
.home-callout h4 { font-size: 14px; }

// Sponsors
.sponsors h2       { margin-top: 25px; font-weight: bold; }
.logos img         { padding: 20px; }
.big-logos img     { height: 125px; }
.smaller-logos img { height: 60px; }
.medium-logos img  { height: 80px; }

// Sandbox for messing around with sidebars and enhanced content

// feature lists
.feature {  }
.feature-list { margin-bottom: 10px; margin-right: 20px; }
.feature-list p { font-size: 1.05em; }
.feature-list .feature { border: 1px solid $gray; border-top-width: 1px; margin-top: 5px; padding: 20px; }
.feature-list h4 { border-bottom: 1px solid #e9e9e9; margin-left: 50px; padding-bottom: 5px; margin-bottom: 10px; }
.feature-list ul { margin-left: 50px; margin-bottom: 0px; }
.feature-list li { margin-bottom: 5px; }
.feature-icon { float: left;  }
.horizontal-feature .feature-icon { float: left; margin: -7px 10px 0 -7px; opacity: .7; }
.horizontal-feature .feature { min-height: 230px; margin-bottom: 20px; }
.horizontal-feature h4 { padding-bottom: 5px; margin: 0 0 10px 25px; }
.horizontal-feature ul { margin-left: 0px;  }
.big-icons h4 { margin-left: 50px; }

.feature-standalone { float: left; width: 300px; }

// events listing
.events .event { float: left; width: 31%; margin: 0 1.17% 20px 1.16%; }
.events .horizontal-feature .feature { margin-bottom: 0px; }
.events .feature { min-height: 150px; background: #fff; color: $grayDark; }
.events .feature-list h4 { margin-left: 0; }
.events a { color: $gs_firebrick; }
.events a span { padding-right: 5px; }
.events ul { height: 90px; text-align: left; }
.events .feature .event-cta { display: block; width: 200px; height: 30px; line-height: 30px; background: $gs_firebrick; color: white; text-align: center; margin-left: 30px; }
.event-help .feature { background: $grayDark; color: #fff; border: 1px solid $grayDark; }
.event-help .feature p { color: #fff; }
.event-help .event-cta { background: $grayLight; color: #000; }


// homepage events listing customizations
.home-events { padding-left: 20px; }
.home-events h3 { margin-left: 15px; }
.home-events .events .event { float: left; width: 47%; margin: 0 1.5% 20px 1.5%; }
.home-events .events .feature .event-cta { margin-left: 15px; }

// homepage customizations
.home-twitter { padding-right: 20px; }
.home-twitter h3 { margin-left: 0px; margin-bottom: 13px; }

// chapters
.chapters h2         { border-bottom: 1px solid $gray; padding-bottom: 15px; margin-top: 20px; }
.chapters .list-item { float: left; width: 240px; height: 100px; border: 1px solid $gray; padding: 20px; margin: 5px 10px 10px 0; }
