<div class="breadcrumbs">
  <%= link_to "Home", root_path %><span class="divider">/</span>
  <%= link_to "Learn", learning_path %><span class="divider">/</span>
  <%= link_to "Upcoming Workshops", learning_path %><span class="divider">/</span>
  Indianapolis RailsBridge Workshop
</div>
