.breadcrumbs
  = link_to "Home", root_path
  %span.divider \
  = link_to "Learn", learn_path
  %span.divider \
  = link_to "Upcoming Workshops", learn_path
  %span.divider \
  Indianapolis RailsBridge Workshop

