.breadcrumbs
  = link_to "Home", root_path
  %span.divider \
  = link_to "Learn", learning_path
  %span.divider \
  = link_to "Upcoming Workshops", learning_path
  %span.divider \
  Indianapolis RailsBridge Workshop

