<div class='feature-list horizontal-feature event'>
  <div class='feature clearfix'>
    <h4>Ruby Hackfest</h4>
    <ul>
      <!-- <p class="event-logistics"><span class="event-location">Indianapolis, IN</span> - <span class="event-date">May 24th to 25th</span></p> -->
      <li><span class="event-location">Indianapolis, IN</span> - <span class="event-date">May 24th to 25th</span></li>
      <li><%= link_to raw('<span class="icon-user"></span>The Indianapolis Ruby Group'), '', class: 'event-host' %></li>
      <li><%= link_to raw('<span class="icon-map-marker"></span>The Speakeasy Room'), '', class: 'event-venue' %></li>
    </ul>
    <%= link_to 'RSVP on Meetup', '', class: 'event-cta' %>
  </div>
</div>
