- @events = Event.all
.events
  .short-features
  - @events.each do |event|
    = render 'layouts/event', event: event
  .features-grid.event.event-help.short-features
    .feature.clearfix
      %h4 Not Finding a Workshop?
      %ul
        %li There are communities around the world that hold workshops. If there isn't one in your area, we'd love to help you get one started.
      = link_to 'Check Out Local Chapters', :chapters, class: 'event-cta'
