- @events = Event.all
.events
  - @events.each do |event|
    = render 'layouts/event', event: event
  .feature-list.horizontal-feature.event.event-help
    .feature.clearfix
      %h4 Not Finding a Workshop?
      %ul
        %li
          %p Lorem ipsum dolor sit amet. Vitae. Parturient netus.

      = link_to 'Check Out Local Chapters', '', class: 'event-cta'
