%footer
  .container
    .row
      .span6
        %h2 Making Tech Better Since 2009
        %p
          RailsBridge is working to make tech more diverse and welcoming by
          teaching programming, connecting human beings, and listening to people's needs.
          We organize and teach free workshops on Rails, Ruby, and HTML &amp; CSS in
          cities all over the world, targeted at groups that are underrepresented in tech.
      .span6
        %ul.footer-links.pull-right
          %li= link_to "workshops@railsbridge.org", "mailto:info@railsbridge.com"
          %li.left-border= link_to "", "https://github.com/railsbridge", class: "font-icon icon-github-sign"
          %li= link_to "", "https://twitter.com/railsbridge", class: "font-icon icon-twitter-sign"
          %li= link_to "", "https://www.facebook.com/railsbridge", class: "font-icon icon-facebook-sign"
    %p.work-in-progress This site is a work in progress. Send feedback to jane at betatetra dot com & lillie.chilen at gmail dot com
