<footer class="footer">
  <div class="container">
    <p><em>This site is a work in progress! Send UX feedback to lillie dot chilen at gmail dot com</em></p>
  </div>
  <div class="container">
    <nav>
      <ul class="nav nav-pills">
        <li><%= link_to "About RailsBridge", about_path %></li>
        <li><%= link_to "Supporting RailsBridge", hosting_path %></li>
        <li><%= link_to "Get in Touch", interest_form_path %></li>
      </ul>
    </nav>
  </div>
</footer>